body main.admin-login > .container input, body main.admin-login > .container textarea {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #666;
  background-color: #fff;
  padding: 10px 20px; }

body #admin-header {
  background-color: #343a40; }
  body #admin-header #admin-navigation ul.navbar-nav li {
    position: relative; }
    body #admin-header #admin-navigation ul.navbar-nav li a {
      display: inline-block; }
    body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu {
      left: 0; }
      body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu li a {
        color: #000; }

body main li.page {
  list-style-type: none; }
  body main li.page .btn-info {
    display: inline-block; }
  body main li.page .delete {
    display: inline-block; }

body main li.gallery {
  list-style-type: none; }

body main .nav-sort ol#main-navigation .nav-item {
  background: #333; }
  body main .nav-sort ol#main-navigation .nav-item > a {
    color: #fff;
    padding-left: 10px; }
  body main .nav-sort ol#main-navigation .nav-item button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  body main .nav-sort ol#main-navigation .nav-item ol.sub-nav {
    background: #666;
    margin-left: 20px;
    padding-left: 20px;
    color: #fff; }
    body main .nav-sort ol#main-navigation .nav-item ol.sub-nav a {
      background: #666;
      color: #fff; }

body main.admin-login {
  align-items: center;
  background-color: #293744; }
  body main.admin-login > .container {
    padding-top: 4rem;
    padding-bottom: 4rem; }
    body main.admin-login > .container .ast {
      color: #f00;
      margin-left: 5px; }
    body main.admin-login > .container input[type="text"], body main.admin-login > .container input[type="email"] {
      background-color: #fff !important; }
    body main.admin-login > .container .btn {
      text-transform: uppercase;
      border-radius: 0px;
      width: 220px;
      padding: 10px 0px; }
