#cart .cart-header .btn, #cart .empty-cart-container .btn, #cart .cart-totals .btn {
  border-radius: 0px;
  text-transform: uppercase;
  padding: 10px 50px; }

body .btn {
  font-weight: 600; }
  body .btn.btn-green {
    background-color: #197b30;
    border-color: #197b30;
    color: #fff; }
  body .btn.btn-lightgrey {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: #000; }
  body .btn.btn-black {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important; }
    body .btn.btn-black:hover {
      background-color: #fff !important;
      border-color: #fff !important;
      color: #000 !important; }

#cart .cart-header {
  background-color: #000;
  padding: 50px 0px; }
  #cart .cart-header > div .link-container {
    flex-direction: column; }
    @media (min-width: 768px) {
      #cart .cart-header > div .link-container {
        flex-direction: row; } }
  #cart .cart-header h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px; }

#cart .empty-cart-container {
  text-align: center; }
  #cart .empty-cart-container svg {
    width: 100px;
    height: 100px;
    color: #d3d3d3;
    fill: #d3d3d3; }
  #cart .empty-cart-container h4 {
    text-transform: uppercase;
    margin: 15px 0px; }
  #cart .empty-cart-container p {
    width: 50%;
    margin: 0 auto 20px; }

#cart .subtotal-title {
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    #cart .subtotal-title {
      display: none; } }
  #cart .subtotal-title div {
    text-transform: uppercase;
    font-weight: 700;
    text-align: left; }
    #cart .subtotal-title div:first-child {
      text-align: center; }

@media (max-width: 767px) {
  #cart .product .row > div {
    text-align: center;
    justify-content: space-evenly;
    position: relative;
    max-width: 90%;
    margin: 0 auto; } }

#cart .product .desktop {
  display: none; }
  @media (min-width: 768px) {
    #cart .product .desktop {
      display: block; } }

#cart .product .product-title {
  justify-content: space-between !important;
  display: flex; }
  @media (max-width: 767px) {
    #cart .product .product-title {
      -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
      box-shadow: 0px 0px 13px 2px #d3d3d3;
      border-radius: 4px;
      padding: 1rem;
      margin-bottom: 1rem; } }
  @media (min-width: 768px) {
    #cart .product .product-title {
      justify-content: space-around !important; } }
  #cart .product .product-title .title-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 0 1 calc(50% - 10px); }
  #cart .product .product-title a {
    text-decoration: none;
    color: #000;
    display: flex;
    text-align: left; }
    @media (min-width: 768px) {
      #cart .product .product-title a {
        flex: 1;
        text-align: center; } }
    #cart .product .product-title a:hover {
      color: #666; }
    #cart .product .product-title a h5 {
      width: 100%; }
  #cart .product .product-title img {
    max-width: 150px;
    border-radius: 0px; }
    @media (max-width: 767px) {
      #cart .product .product-title img {
        border: 0px;
        max-width: 125px; } }
  #cart .product .product-title .product-price {
    text-align: left; }
    @media (min-width: 768px) {
      #cart .product .product-title .product-price {
        text-align: center; } }
  #cart .product .product-title .quantity-price {
    justify-content: space-between;
    align-items: center; }

#cart .product .adjust-quantity {
  align-items: baseline; }
  #cart .product .adjust-quantity .adjust-container {
    border: 1px solid #d3d3d3;
    align-items: center; }
    #cart .product .adjust-quantity .adjust-container p {
      display: inline-block;
      margin: 0;
      width: 50px; }
    #cart .product .adjust-quantity .adjust-container .btn {
      border-color: #d3d3d3;
      background-color: #f2f2f2;
      border-radius: 0px; }
      #cart .product .adjust-quantity .adjust-container .btn:hover {
        background-color: #d3d3d3; }
      #cart .product .adjust-quantity .adjust-container .btn.remove-item {
        border-right: 2px solid #d3d3d3; }
      #cart .product .adjust-quantity .adjust-container .btn.add-item {
        border-left: 2px solid #d3d3d3; }

@media (min-width: 768px) {
  #cart .product .delete-product-cart {
    justify-content: flex-end; } }

#cart .product .delete-product-cart.mobile {
  position: absolute;
  top: 7px;
  right: 5px;
  flex: auto; }

@media (min-width: 768px) {
  #cart .product .mobile {
    display: none !important; } }

@media (max-width: 767px) {
  #cart .product .desktop {
    display: none !important; } }

#cart .cart-totals {
  padding-top: 20px; }
  @media (min-width: 768px) {
    #cart .cart-totals {
      border-top: 2px solid #d3d3d3; } }
  #cart .cart-totals p:first-child {
    display: inline-block; }
  #cart .cart-totals p:last-child {
    font-style: italic; }
  #cart .cart-totals #sub-total {
    color: #197b30;
    display: inline-block;
    float: right; }
    @media (min-width: 768px) {
      #cart .cart-totals #sub-total {
        float: none; } }
  #cart .cart-totals .checkout {
    text-align: center; }
    @media (min-width: 768px) {
      #cart .cart-totals .checkout {
        text-align: right; } }

#cart .confirmation-container #progressbar {
  display: none; }
  #cart .confirmation-container #progressbar li.active:before {
    content: none; }
  #cart .confirmation-container #progressbar li.active svg {
    background-color: #fff;
    border-radius: 50%;
    color: #39b54a; }
  #cart .confirmation-container #progressbar li.active span {
    position: relative;
    top: 1px; }

#cart .confirmation-container h4 {
  border-bottom: 2px solid #acacac;
  line-height: 2; }

#cart .confirmation-container .message {
  align-items: center; }
  @media (max-width: 767px) {
    #cart .confirmation-container .message {
      flex-direction: column;
      text-align: center; } }
  @media (min-width: 768px) {
    #cart .confirmation-container .message {
      border: 2px solid #39b54a; } }
  #cart .confirmation-container .message .icon-container {
    position: relative;
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      #cart .confirmation-container .message .icon-container {
        margin-bottom: 0; }
        #cart .confirmation-container .message .icon-container:after {
          content: "";
          position: absolute;
          top: 0;
          right: -30px;
          width: 1px;
          height: 100%;
          background-color: #ccc; } }
    #cart .confirmation-container .message .icon-container svg {
      border-radius: 50%;
      background-color: #fff;
      color: #39b54a; }
  @media (max-width: 767px) {
    #cart .confirmation-container .message .inner-message .text-success {
      font-weight: 700;
      display: inline-block;
      margin-bottom: 0.5rem; } }
  @media (min-width: 768px) {
    #cart .confirmation-container .message .inner-message {
      margin-left: 3rem; } }

#cart .confirmation-container .time {
  font-weight: 500;
  letter-spacing: 0px; }
  @media (max-width: 767px) {
    #cart .confirmation-container .time {
      font-size: 0.9rem; } }

#cart .confirmation-container .order-summary {
  overflow: hidden; }
  @media (max-width: 767px) {
    #cart .confirmation-container .order-summary {
      border-radius: 4px;
      padding: 1rem 2rem;
      margin-bottom: 2rem;
      -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
      box-shadow: 0px 0px 13px 2px #d3d3d3; } }
  @media (min-width: 768px) {
    #cart .confirmation-container .order-summary {
      border-bottom: 2px solid #acacac; } }
  #cart .confirmation-container .order-summary .titles {
    border-bottom: 2px solid #acacac; }
    @media (max-width: 767px) {
      #cart .confirmation-container .order-summary .titles {
        display: none; } }
    #cart .confirmation-container .order-summary .titles > div {
      font-weight: 700;
      line-height: 2.5; }
  #cart .confirmation-container .order-summary .product-info h5 {
    font-weight: 700;
    margin-bottom: 0px; }
  @media (max-width: 767px) {
    #cart .confirmation-container .order-summary .product-info {
      flex-direction: column;
      text-align: left; } }
  @media (min-width: 768px) {
    #cart .confirmation-container .order-summary .product-info .quantity-mobile, #cart .confirmation-container .order-summary .product-info .ind-price-mobile, #cart .confirmation-container .order-summary .product-info .price-mobile {
      display: none; } }
  #cart .confirmation-container .order-summary .product-info .quantity-mobile {
    color: #fff;
    background-color: #197b30;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    left: 150px;
    top: -5px; }
  #cart .confirmation-container .order-summary .product-info .price-mobile {
    color: #197b30;
    font-weight: 700; }
  #cart .confirmation-container .order-summary .product-info .ind-price-mobile {
    color: #666;
    margin: 0.25rem 0; }

#cart .confirmation-container .tax-subtotal {
  border-bottom: 2px solid #acacac; }
  #cart .confirmation-container .tax-subtotal h6 {
    font-weight: 700; }
  #cart .confirmation-container .tax-subtotal .subtotal-sub .value {
    text-align: right;
    font-weight: 500;
    letter-spacing: 0px; }
    @media (max-width: 767px) {
      #cart .confirmation-container .tax-subtotal .subtotal-sub .value {
        font-size: 0.9rem; } }
  #cart .confirmation-container .tax-subtotal .hst-sub .value {
    text-align: right;
    font-weight: 500;
    letter-spacing: 0px; }
    @media (max-width: 767px) {
      #cart .confirmation-container .tax-subtotal .hst-sub .value {
        font-size: 0.9rem; } }
  #cart .confirmation-container .tax-subtotal .shipping-sub .value {
    text-transform: uppercase;
    text-align: right;
    font-weight: 500;
    letter-spacing: 0px; }
    @media (max-width: 767px) {
      #cart .confirmation-container .tax-subtotal .shipping-sub .value {
        font-size: 0.9rem; } }

@media (max-width: 767px) {
  #cart .confirmation-container .order-container {
    border-radius: 4px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
    box-shadow: 0px 0px 13px 2px #d3d3d3; } }

#cart .confirmation-container .order-container .order-inner-container {
  flex-direction: column; }
  @media (min-width: 768px) {
    #cart .confirmation-container .order-container .order-inner-container {
      flex-direction: row; } }
  #cart .confirmation-container .order-container .order-inner-container h6 {
    font-weight: 700; }
    @media (max-width: 767px) {
      #cart .confirmation-container .order-container .order-inner-container h6 {
        font-size: 1.1rem; } }
  #cart .confirmation-container .order-container .order-inner-container .billing-details {
    flex-grow: 2; }
    #cart .confirmation-container .order-container .order-inner-container .billing-details span {
      font-weight: 500;
      letter-spacing: 0px; }
      @media (max-width: 767px) {
        #cart .confirmation-container .order-container .order-inner-container .billing-details span {
          font-size: 0.9rem; } }
  #cart .confirmation-container .order-container .order-inner-container .shipping-method {
    flex-grow: 2;
    font-weight: 500;
    letter-spacing: 0px; }
    @media (max-width: 767px) {
      #cart .confirmation-container .order-container .order-inner-container .shipping-method {
        font-size: 0.9rem; } }
    @media (min-width: 768px) {
      #cart .confirmation-container .order-container .order-inner-container .shipping-method {
        margin: 0 1rem; } }
  #cart .confirmation-container .order-container .order-inner-container .notes {
    flex-grow: 2;
    font-weight: 500;
    letter-spacing: 0px; }
    @media (max-width: 767px) {
      #cart .confirmation-container .order-container .order-inner-container .notes {
        font-size: 0.9rem; } }

@media (max-width: 767px) {
  #cart .confirmation-container .totals {
    border-radius: 4px;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
    box-shadow: 0px 0px 13px 2px #d3d3d3; } }

@media (min-width: 768px) {
  #cart .confirmation-container .totals .order-amount {
    justify-content: space-around !important; } }

#cart .confirmation-container .totals .order-amount > div {
  font-weight: 700; }

#cart .confirmation-container .totals .order-amount .value {
  text-align: right; }

@media (max-width: 768px) {
  #cart .confirmation-container .totals .payment-info .card-info {
    order: 2; } }

#cart .confirmation-container .totals .payment-info .card-info > * {
  color: #666;
  font-weight: 500;
  letter-spacing: 0px; }

#cart .confirmation-container .links {
  flex-direction: column; }
  @media (min-width: 768px) {
    #cart .confirmation-container .links {
      flex-direction: row; } }
  #cart .confirmation-container .links a {
    border-radius: 0px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      #cart .confirmation-container .links a:nth-child(2) {
        margin: 0px 20px; } }
