#cart .cart-header .btn, #cart .empty-cart-container .btn, #cart .cart-totals .btn {
  border-radius: 0px;
  text-transform: uppercase;
  padding: 10px 50px; }

body .btn {
  font-weight: 600; }
  body .btn.btn-green {
    background-color: #197b30;
    border-color: #197b30;
    color: #fff; }
  body .btn.btn-lightgrey {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: #000; }
  body .btn.btn-black {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important; }
    body .btn.btn-black:hover {
      background-color: #fff !important;
      border-color: #fff;
      color: #000 !important; }

#cart .cart-header {
  background-color: #000;
  padding: 50px 0px; }
  #cart .cart-header > div .link-container {
    flex-direction: column; }
    @media (min-width: 768px) {
      #cart .cart-header > div .link-container {
        flex-direction: row; } }
  #cart .cart-header h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px; }

#cart .empty-cart-container {
  text-align: center; }
  #cart .empty-cart-container svg {
    width: 100px;
    height: 100px;
    color: #d3d3d3;
    fill: #d3d3d3; }
  #cart .empty-cart-container h4 {
    text-transform: uppercase;
    margin: 15px 0px; }
  #cart .empty-cart-container p {
    width: 50%;
    margin: 0 auto 20px; }

#cart .subtotal-title {
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    #cart .subtotal-title {
      display: none; } }
  #cart .subtotal-title div {
    text-transform: uppercase;
    font-weight: 700;
    text-align: left; }
    #cart .subtotal-title div:first-child {
      text-align: center; }

@media (max-width: 767px) {
  #cart .product .row > div {
    text-align: center;
    margin: 10px 0px;
    justify-content: center; } }

#cart .product .product-title {
  justify-content: space-between; }
  @media (min-width: 768px) {
    #cart .product .product-title {
      display: flex; } }
  #cart .product .product-title a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: flex;
    flex: 1; }
    #cart .product .product-title a:hover {
      color: #666; }
    #cart .product .product-title a h5 {
      width: 100%; }
  #cart .product .product-title img {
    max-width: 150px; }

#cart .product .adjust-quantity {
  align-items: baseline; }
  #cart .product .adjust-quantity .adjust-container {
    border: 1px solid #d3d3d3;
    align-items: center; }
    #cart .product .adjust-quantity .adjust-container p {
      display: inline-block;
      margin: 0;
      width: 50px; }
    #cart .product .adjust-quantity .adjust-container .btn {
      border-color: #d3d3d3;
      background-color: #f2f2f2;
      border-radius: 0px; }
      #cart .product .adjust-quantity .adjust-container .btn:hover {
        background-color: #d3d3d3; }
      #cart .product .adjust-quantity .adjust-container .btn.remove-item {
        border-right: 2px solid #d3d3d3; }
      #cart .product .adjust-quantity .adjust-container .btn.add-item {
        border-left: 2px solid #d3d3d3; }

@media (min-width: 768px) {
  #cart .product .delete-product-cart {
    justify-content: flex-end; } }

#cart .cart-totals {
  border-top: 2px solid #d3d3d3;
  padding-top: 20px; }
  #cart .cart-totals p:first-child {
    display: inline-block; }
  #cart .cart-totals p:last-child {
    font-style: italic; }
  #cart .cart-totals #sub-total {
    color: #197b30;
    display: inline-block; }

#cart .confirmation-container #progressbar li.active:before {
  content: none; }

#cart .confirmation-container #progressbar li.active svg {
  background-color: #fff;
  border-radius: 50%;
  color: #39b54a; }

#cart .confirmation-container #progressbar li.active span {
  position: relative;
  top: 1px; }

#cart .confirmation-container h4 {
  border-bottom: 2px solid #acacac;
  line-height: 2; }

#cart .confirmation-container .message {
  border: 2px solid #39b54a;
  align-items: center; }
  #cart .confirmation-container .message .icon-container {
    position: relative; }
    #cart .confirmation-container .message .icon-container:after {
      content: "";
      position: absolute;
      top: 0;
      right: -30px;
      width: 1px;
      height: 100%;
      background-color: #ccc; }
    #cart .confirmation-container .message .icon-container svg {
      border-radius: 50%;
      background-color: #fff;
      color: #39b54a; }
  #cart .confirmation-container .message .inner-message {
    margin-left: 3rem; }

#cart .confirmation-container .order-summary {
  overflow: hidden;
  border-bottom: 2px solid #acacac; }
  #cart .confirmation-container .order-summary .titles {
    border-bottom: 2px solid #acacac; }
    #cart .confirmation-container .order-summary .titles > div {
      font-weight: 700;
      line-height: 2.5; }

#cart .confirmation-container .tax-subtotal {
  border-bottom: 2px solid #acacac; }
  #cart .confirmation-container .tax-subtotal h6 {
    font-weight: 700; }
  #cart .confirmation-container .tax-subtotal .shipping-sub .value {
    text-transform: uppercase; }

#cart .confirmation-container .order-inner-container {
  flex-direction: column; }
  @media (min-width: 768px) {
    #cart .confirmation-container .order-inner-container {
      flex-direction: row; } }
  #cart .confirmation-container .order-inner-container h6 {
    font-weight: 700; }
  #cart .confirmation-container .order-inner-container .billing-details {
    flex-grow: 2; }
  #cart .confirmation-container .order-inner-container .shipping-method {
    flex-grow: 2; }
    @media (min-width: 768px) {
      #cart .confirmation-container .order-inner-container .shipping-method {
        margin: 0 1rem; } }
  #cart .confirmation-container .order-inner-container .notes {
    flex-grow: 2; }

#cart .confirmation-container .order-amount > div {
  font-weight: 700; }

#cart .confirmation-container .links {
  flex-direction: column; }
  @media (min-width: 768px) {
    #cart .confirmation-container .links {
      flex-direction: row; } }
  #cart .confirmation-container .links a {
    border-radius: 0px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      #cart .confirmation-container .links a:nth-child(2) {
        margin: 0px 20px; } }
