footer {
  background-color: #000;
  color: #fff; }
  footer .column h4 {
    position: relative;
    margin-bottom: 13px;
    line-height: 2; }
    footer .column h4:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      background-color: #fff;
      width: 40%;
      height: 2px; }
  footer .column ul {
    padding-left: 0; }
    footer .column ul li {
      list-style-type: none;
      line-height: 2; }
  footer .column a {
    text-decoration: none;
    color: #fff; }
  footer .column:last-child h4:after {
    width: 20%; }
  footer .column.logo {
    text-align: center; }
    @media (min-width: 991px) {
      footer .column.logo {
        text-align: left; } }
    footer .column.logo img {
      max-width: 150px; }
      @media (min-width: 991px) {
        footer .column.logo img {
          max-width: 200px; } }
