header .admin-bar {
  background-color: #6f42c1;
  color: #fff;
  font-weight: 700;
  top: 0;
  z-index: 10;
  width: 100%; }
  header .admin-bar a {
    color: #fff;
    font-weight: 500; }

header .cart, header .logout {
  line-height: 2; }

header .account-name img {
  width: 40px; }

header .customer a {
  text-decoration: none; }

header .row-first a.shop-faq {
  text-decoration: none;
  text-transform: uppercase; }

header .row-first .sign-in {
  text-align: right; }

header .row-second {
  box-shadow: 0px 0px 15px 0px #000000;
  -webkit-box-shadow: 0px 0px 15px 0px #000000; }
  header .row-second .cart a.cart-toggle {
    color: #000;
    text-decoration: none;
    cursor: pointer; }
  header .row-second .cart-menu {
    background: #fff;
    border: 0;
    display: block !important;
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    z-index: 110;
    width: calc(100% - 38px);
    max-width: 420px; }
    header .row-second .cart-menu.active {
      transform: translateX(0);
      transition: all .25s ease; }
    header .row-second .cart-menu .header {
      background-color: #666;
      color: #fff;
      justify-content: space-between;
      text-transform: uppercase; }
      header .row-second .cart-menu .header .close-button {
        align-items: center; }
        header .row-second .cart-menu .header .close-button .close {
          color: #fff;
          opacity: 1;
          font-weight: 300;
          position: relative;
          bottom: 2px; }
    header .row-second .cart-menu .link-container a {
      border-radius: 0px;
      width: 50%;
      text-transform: uppercase; }

header nav #main-navigation > li a {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  position: relative;
  padding: 5px 20px; }
  header nav #main-navigation > li a.dd-handle:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 1px;
    height: 20px;
    right: 0;
    top: 10px; }

header nav #main-navigation > li:first-child a {
  padding-left: 0px; }

header nav #main-navigation > li:last-child a.dd-handle:after {
  width: 0px; }
