header .admin-bar {
  background-color: #6f42c1;
  color: #fff;
  font-weight: 700;
  top: 0;
  z-index: 10;
  width: 100%; }
  header .admin-bar a {
    color: #fff;
    font-weight: 500; }

header .cart, header .logout {
  line-height: 2; }

header .account-name img {
  width: 40px; }

header nav #main-navigation li a {
  display: inline-block;
  text-transform: capitalize; }
