body .login-registration > .container .login-container .login-option, body .login-registration > .container .register-container .login-option, body .login-registration > .container .login-container form, body .login-registration > .container .register-container form {
  height: 80%;
  width: 100%;
  max-width: none;
  margin: auto;
  align-items: center;
  position: relative; }

body .login-registration > .container .login-container form > div input, body .login-registration > .container .login-container form > div textarea, body .login-registration > .container .register-container form > div input, body .login-registration > .container .register-container form > div textarea {
  width: 100%;
  border-radius: 0px;
  border: 1px solid #666;
  background-color: #fff;
  padding: 10px 20px; }
  @media (max-width: 767px) {
    body .login-registration > .container .login-container form > div input, body .login-registration > .container .login-container form > div textarea, body .login-registration > .container .register-container form > div input, body .login-registration > .container .register-container form > div textarea {
      border-color: #000;
      border-top: none;
      border-left: none;
      border-right: none; } }

body .login-registration > .container {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  body .login-registration > .container .login-container, body .login-registration > .container .register-container {
    align-items: center; }
    body .login-registration > .container .login-container .login-option, body .login-registration > .container .register-container .login-option {
      display: none; }
      @media (min-width: 768px) {
        body .login-registration > .container .login-container .login-option, body .login-registration > .container .register-container .login-option {
          border-right: 1px solid #d3d3d3; } }
      @media (min-width: 768px) {
        body .login-registration > .container .login-container .login-option p, body .login-registration > .container .register-container .login-option p {
          width: 75%;
          margin: 0 auto; } }
      body .login-registration > .container .login-container .login-option .btn, body .login-registration > .container .register-container .login-option .btn {
        text-transform: uppercase;
        border-radius: 0px;
        width: 220px;
        padding: 10px 0px; }
    @media (min-width: 768px) {
      body .login-registration > .container .login-container .register-option p, body .login-registration > .container .register-container .register-option p {
        width: 75%;
        margin: 0 auto; } }
    body .login-registration > .container .login-container .register-option .btn, body .login-registration > .container .register-container .register-option .btn {
      text-transform: uppercase;
      border-radius: 0px;
      width: 220px;
      padding: 10px 0px; }
    @media (max-width: 767px) {
      body .login-registration > .container .login-container form.customer-login, body .login-registration > .container .register-container form.customer-login {
        height: auto;
        padding: 2rem;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
        box-shadow: 0px 0px 13px 2px #d3d3d3; } }
    @media (min-width: 768px) {
      body .login-registration > .container .login-container form.customer-login, body .login-registration > .container .register-container form.customer-login {
        border-right: 1px solid #d3d3d3;
        padding: 2rem; } }
    body .login-registration > .container .login-container form.customer-login .submit-container, body .login-registration > .container .register-container form.customer-login .submit-container {
      text-align: center; }
      @media (max-width: 767px) {
        body .login-registration > .container .login-container form.customer-login .submit-container input[type="submit"], body .login-registration > .container .register-container form.customer-login .submit-container input[type="submit"] {
          max-width: 220px; } }
    body .login-registration > .container .login-container form.customer-register, body .login-registration > .container .register-container form.customer-register {
      display: none; }
      body .login-registration > .container .login-container form.customer-register .form-field-inner, body .login-registration > .container .register-container form.customer-register .form-field-inner {
        flex-direction: column; }
        @media (min-width: 1200px) {
          body .login-registration > .container .login-container form.customer-register .form-field-inner, body .login-registration > .container .register-container form.customer-register .form-field-inner {
            flex-direction: row; } }
        body .login-registration > .container .login-container form.customer-register .form-field-inner .field-container > select, body .login-registration > .container .login-container form.customer-register .form-field-inner .field-container input, body .login-registration > .container .register-container form.customer-register .form-field-inner .field-container > select, body .login-registration > .container .register-container form.customer-register .form-field-inner .field-container input {
          margin-bottom: 0.5rem; }
        @media (min-width: 1200px) {
          body .login-registration > .container .login-container form.customer-register .form-field-inner .field-container:first-child, body .login-registration > .container .register-container form.customer-register .form-field-inner .field-container:first-child {
            margin-right: 2rem; } }
        body .login-registration > .container .login-container form.customer-register .form-field-inner .field-container:first-child #province, body .login-registration > .container .register-container form.customer-register .form-field-inner .field-container:first-child #province {
          padding: 10px 20px;
          color: #666; }
        @media (min-width: 1200px) {
          body .login-registration > .container .login-container form.customer-register .form-field-inner .field-container:nth-child(2), body .login-registration > .container .register-container form.customer-register .form-field-inner .field-container:nth-child(2) {
            margin-right: 2rem; } }
    body .login-registration > .container .login-container form > div, body .login-registration > .container .register-container form > div {
      width: 100%; }
      @media (min-width: 768px) {
        body .login-registration > .container .login-container form > div, body .login-registration > .container .register-container form > div {
          width: auto;
          margin: 0 auto; } }
      body .login-registration > .container .login-container form > div .ast, body .login-registration > .container .register-container form > div .ast {
        color: #f00;
        margin-left: 5px; }
      body .login-registration > .container .login-container form > div input[type="text"], body .login-registration > .container .login-container form > div input[type="email"], body .login-registration > .container .register-container form > div input[type="text"], body .login-registration > .container .register-container form > div input[type="email"] {
        background-color: #fff !important; }
      body .login-registration > .container .login-container form > div .btn, body .login-registration > .container .register-container form > div .btn {
        text-transform: uppercase; }
