@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Thin.ttf") format("opentype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Light.ttf") format("opentype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Bold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/Roboto/Roboto-Black.ttf") format("opentype");
  font-weight: 800;
  font-style: normal; }

body {
  height: auto;
  font-family: "Roboto", sans-serif; }
  body.no-scroll {
    overflow: hidden;
    position: relative; }
    body.no-scroll:before {
      content: "";
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      z-index: 5;
      transition: all 1s ease; }
  body main {
    background: #ff0;
    min-height: calc(100vh - 430px); }
    body main .page-content {
      padding-top: 20px;
      padding-bottom: 20px; }
    body main .shop-by h3 {
      text-transform: uppercase;
      padding: 12px 0px;
      letter-spacing: 1.5px; }
    body main .shop-by .set {
      position: relative; }
      @media (max-width: 1199px) {
        body main .shop-by .set {
          margin-bottom: 1rem; } }
      @media (min-width: 767px) {
        body main .shop-by .set:nth-child(4), body main .shop-by .set:last-child {
          margin-bottom: 0; } }
      body main .shop-by .set .img-container {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px;
        position: relative; }
        body main .shop-by .set .img-container:before {
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          position: absolute;
          background: rgba(150, 150, 150, 0.5); }
      body main .shop-by .set strong {
        color: #fff;
        background-color: #000;
        padding: 20px 40px;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        width: 200px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto; }
    @media (max-width: 1029px) {
      body main .container-fluid .browse-categories {
        display: none; } }
    body main .container-fluid .browse-categories #root {
      position: relative;
      z-index: 100; }
      body main .container-fluid .browse-categories #root .App {
        margin: 0px;
        max-width: none;
        width: 100%; }
        body main .container-fluid .browse-categories #root .App form {
          max-width: none; }
          body main .container-fluid .browse-categories #root .App form input[type="text"] {
            border-radius: 0px;
            padding: 10px;
            border: 1px solid #999; }
          body main .container-fluid .browse-categories #root .App form #container .show {
            position: absolute;
            background-color: #fff;
            width: 100%;
            padding: 20px; }
          body main .container-fluid .browse-categories #root .App form #container ul {
            left: auto;
            max-width: none;
            width: 100%; }
            body main .container-fluid .browse-categories #root .App form #container ul li img {
              max-width: 250px; }
    body main .container-fluid .browse-categories .nav {
      justify-content: space-between;
      height: 100%;
      position: relative; }
      body main .container-fluid .browse-categories .nav div.pill-link {
        text-transform: uppercase;
        background-color: #A0A0A0;
        padding: 0.5rem 1rem;
        color: #000;
        cursor: pointer;
        border-radius: 0px;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 0.85rem; }
        @media (min-width: 1240px) {
          body main .container-fluid .browse-categories .nav div.pill-link {
            font-size: 16px; } }
        body main .container-fluid .browse-categories .nav div.pill-link.nav-link-header {
          background-color: #000;
          line-height: 2.75; }
          body main .container-fluid .browse-categories .nav div.pill-link.nav-link-header:hover {
            background-color: #000; }
        body main .container-fluid .browse-categories .nav div.pill-link:hover, body main .container-fluid .browse-categories .nav div.pill-link.active {
          background-color: #197b30;
          color: #fff; }
          body main .container-fluid .browse-categories .nav div.pill-link:hover .tab-pane, body main .container-fluid .browse-categories .nav div.pill-link.active .tab-pane {
            display: block; }
        body main .container-fluid .browse-categories .nav div.pill-link svg {
          color: #fff;
          fill: #fff; }
        body main .container-fluid .browse-categories .nav div.pill-link .tab-pane {
          position: absolute;
          left: 100%;
          z-index: 100;
          height: 100%;
          background-color: rgba(25, 123, 48, 0.75);
          width: 125%;
          top: 0;
          display: none;
          color: #fff; }
          body main .container-fluid .browse-categories .nav div.pill-link .tab-pane .category.menu {
            padding-left: 0px; }
            body main .container-fluid .browse-categories .nav div.pill-link .tab-pane .category.menu li {
              list-style: none; }
              body main .container-fluid .browse-categories .nav div.pill-link .tab-pane .category.menu li a {
                color: #fff;
                text-decoration: none;
                text-transform: initial;
                line-height: 2; }
                body main .container-fluid .browse-categories .nav div.pill-link .tab-pane .category.menu li a.category-header {
                  text-decoration: underline;
                  font-size: 1.2rem; }
            body main .container-fluid .browse-categories .nav div.pill-link .tab-pane .category.menu ul {
              padding-left: 0px; }
              body main .container-fluid .browse-categories .nav div.pill-link .tab-pane .category.menu ul li {
                list-style: none; }
                body main .container-fluid .browse-categories .nav div.pill-link .tab-pane .category.menu ul li a {
                  color: #fff;
                  text-decoration: none;
                  text-transform: initial; }
    body main .container-fluid .browse-categories .tab-content {
      z-index: 75;
      height: 100%; }
      @media (min-width: 768px) {
        body main .container-fluid .browse-categories .tab-content {
          position: absolute;
          width: 50%; } }
      @media (min-width: 1200px) {
        body main .container-fluid .browse-categories .tab-content {
          width: 40%; } }
      body main .container-fluid .browse-categories .tab-content .tab-pane {
        background-color: rgba(25, 123, 48, 0.85);
        position: relative;
        right: 12px;
        height: 100%; }
      body main .container-fluid .browse-categories .tab-content p {
        color: #fff; }
    body main .container-fluid .browse-categories .bg:after {
      background-color: #d3d3d3;
      transform: scaleX(1.5);
      width: 100%;
      height: 100%;
      right: 0;
      top: 0;
      position: absolute;
      content: ""; }
    body main .featured-products {
      position: relative;
      margin-bottom: 3rem; }
      body main .featured-products h3 {
        text-transform: uppercase;
        letter-spacing: 1.5px; }
      body main .featured-products .tns-item {
        position: relative; }
        @media (min-width: 1200px) {
          body main .featured-products .tns-item h4 {
            font-size: 1.25rem; } }
        body main .featured-products .tns-item img {
          max-height: 265px; }
        body main .featured-products .tns-item .price {
          color: #A0A0A0;
          font-weight: 700;
          text-align: left; }
        body main .featured-products .tns-item .add-cart-products {
          position: absolute;
          top: 0;
          right: calc(var(--bs-gutter-x) * .5); }
          body main .featured-products .tns-item .add-cart-products:hover .cart-icon, body main .featured-products .tns-item .add-cart-products:hover .arrow-right {
            opacity: 1;
            display: flex !important; }
          body main .featured-products .tns-item .add-cart-products .cart-icon {
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            opacity: 0;
            font-size: 0.8rem;
            align-items: center; }
          body main .featured-products .tns-item .add-cart-products .arrow-right {
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            opacity: 0;
            height: 0px;
            width: 0px;
            right: 32px;
            top: 10px;
            position: absolute;
            border-top: solid 8px transparent;
            border-left: solid 8px black;
            border-bottom: solid 8px transparent; }
          body main .featured-products .tns-item .add-cart-products svg {
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease; }
            body main .featured-products .tns-item .add-cart-products svg.bi-cart-plus:hover {
              background-color: #197b30;
              color: #fff; }
        body main .featured-products .tns-item a {
          text-decoration: none;
          color: #000; }
          body main .featured-products .tns-item a svg {
            position: absolute;
            right: calc(var(--bs-gutter-x) * .5);
            top: 32px;
            fill: #000;
            color: #000;
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease; }
            body main .featured-products .tns-item a svg:hover {
              background-color: #197b30;
              color: #fff;
              fill: #fff; }
      body main .featured-products .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .featured-products .controls:focus {
          outline: none; }
        body main .featured-products .controls li :hover {
          cursor: pointer; }
        body main .featured-products .controls li.prev {
          position: relative;
          left: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.prev {
              left: -50px; } }
        body main .featured-products .controls li.next {
          position: relative;
          right: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.next {
              right: -50px; } }
        body main .featured-products .controls svg {
          font-size: 3rem;
          color: #d3d3d3; }
      body main .featured-products .featured-info {
        text-align: center; }
        @media (min-width: 600px) {
          body main .featured-products .featured-info {
            text-align: left; } }
    body main .latest-releases h3 {
      text-transform: uppercase;
      letter-spacing: 1.5px; }
    body main .latest-releases .set {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      body main .latest-releases .set .img-container {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 150px; }
      body main .latest-releases .set .btn {
        border-radius: 0px; }
    body main .single-banner {
      margin-bottom: 3rem;
      justify-content: center; }
    body main .promos, body main .pill-promos-container {
      position: relative; }
      body main .promos .controls, body main .pill-promos-container .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .promos .controls:focus, body main .pill-promos-container .controls:focus {
          outline: none; }
        body main .promos .controls li :hover, body main .pill-promos-container .controls li :hover {
          cursor: pointer; }
        body main .promos .controls li.prev, body main .pill-promos-container .controls li.prev {
          position: relative;
          left: 10px; }
        body main .promos .controls li.next, body main .pill-promos-container .controls li.next {
          position: relative;
          right: 10px; }
        body main .promos .controls svg, body main .pill-promos-container .controls svg {
          fill: #fff;
          color: #fff; }
      body main .promos .tns-nav, body main .pill-promos-container .tns-nav {
        position: absolute;
        bottom: 40px;
        z-index: 50;
        left: calc(50% - 40px); }
        body main .promos .tns-nav button, body main .pill-promos-container .tns-nav button {
          width: 30px;
          border: none;
          padding: 2px;
          margin: 0px 5px;
          background-color: #d3d3d3; }
          body main .promos .tns-nav button.tns-nav-active, body main .pill-promos-container .tns-nav button.tns-nav-active {
            background-color: #fff; }
      body main .promos .promo, body main .pill-promos-container .promo {
        position: relative; }
        body main .promos .promo .promo-info, body main .pill-promos-container .promo .promo-info {
          background-color: #000;
          right: 40px;
          bottom: 0;
          color: #fff;
          text-align: center;
          padding: 50px 20px 30px; }
          @media (min-width: 768px) {
            body main .promos .promo .promo-info, body main .pill-promos-container .promo .promo-info {
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              max-width: 400px;
              text-align: right; } }
    body main #products h3 {
      margin-left: 1rem; }
    body main #products h5.filter-title {
      margin-left: 15px; }
    body main #products ul.filters li {
      list-style: none; }
    body main .product-id {
      display: none; }
    body main #product-info .categories > div {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 10px 0px 0px 0px; }
    body main .category-search {
      background-color: #000; }
      body main .category-search .inner {
        flex-direction: column; }
        body main .category-search .inner .App {
          margin: 10px auto; }
          body main .category-search .inner .App form {
            max-width: none; }
            body main .category-search .inner .App form input[type="text"] {
              background-color: #000;
              color: #fff;
              border: 2px solid #fff;
              border-radius: 0px;
              padding: 10px 20px;
              width: 600px;
              max-width: 100%; }
              body main .category-search .inner .App form input[type="text"]::placeholder {
                color: #fff; }

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  border: none;
  background: transparent; }
