body {
  background-color: #f00;
  height: auto; }
  body main {
    background: #ff0;
    min-height: calc(100vh - 90px); }
    body main .shop-by h3 {
      text-transform: uppercase;
      padding: 12px 0px; }
    body main .shop-by .set {
      position: relative; }
      body main .shop-by .set .img-container {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px;
        position: relative; }
        body main .shop-by .set .img-container:before {
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          position: absolute;
          background: rgba(100, 100, 100, 0.5); }
      body main .shop-by .set strong {
        color: #fff;
        background-color: #000;
        padding: 20px 40px;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: calc(50% - 44px);
        left: calc(50% - 87px); }
    body main .featured-products {
      position: relative; }
      body main .featured-products h3 {
        text-transform: uppercase; }
      body main .featured-products .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .featured-products .controls:focus {
          outline: none; }
        body main .featured-products .controls li :hover {
          cursor: pointer; }
        body main .featured-products .controls li.prev {
          position: relative;
          left: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.prev {
              left: -50px; } }
        body main .featured-products .controls li.next {
          position: relative;
          right: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.next {
              right: -50px; } }
        body main .featured-products .controls i {
          font-size: 3rem; }
      body main .featured-products .featured-info {
        text-align: center; }
        @media (min-width: 600px) {
          body main .featured-products .featured-info {
            text-align: left; } }
    body main .latest-releases h3 {
      text-transform: uppercase; }
    body main .latest-releases .btn {
      border-radius: 0px; }
    body main .promos {
      position: relative; }
      body main .promos .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .promos .controls:focus {
          outline: none; }
        body main .promos .controls li :hover {
          cursor: pointer; }
        body main .promos .controls li.prev {
          position: relative;
          left: 10px; }
        body main .promos .controls li.next {
          position: relative;
          right: 10px; }
        body main .promos .controls svg {
          fill: #fff;
          color: #fff; }
      body main .promos .tns-nav {
        position: absolute;
        bottom: 40px;
        z-index: 50;
        left: calc(50% - 40px); }
        body main .promos .tns-nav button {
          width: 30px;
          border: none;
          padding: 2px;
          margin: 0px 5px;
          background-color: #d3d3d3; }
          body main .promos .tns-nav button.tns-nav-active {
            background-color: #fff; }
      body main .promos .promo {
        position: relative; }
        body main .promos .promo .promo-info {
          background-color: #000;
          right: 40px;
          bottom: 0;
          color: #fff;
          text-align: center;
          padding: 50px 20px 30px; }
          @media (min-width: 768px) {
            body main .promos .promo .promo-info {
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              max-width: 400px;
              text-align: right; } }
    body main #products h3 {
      margin-left: 1rem; }
    body main #products h5.filter-title {
      margin-left: 15px; }
    body main #products ul.filters li {
      list-style: none; }
    body main .product-id {
      display: none; }
    body main #product-info .categories > div {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 10px 0px 0px 0px; }
