#products .top-products .top-products-inner {
  flex-direction: column; }
  @media (min-width: 768px) {
    #products .top-products .top-products-inner {
      flex-direction: row; } }
  #products .top-products .top-products-inner .breadcrumbs {
    align-items: center; }
    #products .top-products .top-products-inner .breadcrumbs .breadcrumbs-container {
      font-size: 0.9rem; }
      #products .top-products .top-products-inner .breadcrumbs .breadcrumbs-container a {
        text-decoration: none;
        color: #000;
        text-transform: capitalize; }
  #products .top-products .top-products-inner .page-info {
    align-items: center; }
    @media (max-width: 767px) {
      #products .top-products .top-products-inner .page-info {
        flex-direction: column;
        align-items: end; }
        #products .top-products .top-products-inner .page-info .pagination-container {
          order: 2;
          margin-top: 1rem; }
        #products .top-products .top-products-inner .page-info .results-pagination {
          order: 2;
          width: 100%;
          justify-content: space-between;
          align-items: center; }
          #products .top-products .top-products-inner .page-info .results-pagination .pagination-index {
            display: none; }
          #products .top-products .top-products-inner .page-info .results-pagination span {
            display: none; }
          #products .top-products .top-products-inner .page-info .results-pagination .results {
            text-align: center;
            color: #666; }
            #products .top-products .top-products-inner .page-info .results-pagination .results span {
              display: none; }
              #products .top-products .top-products-inner .page-info .results-pagination .results span.results-text {
                display: block; } }
    @media (min-width: 768px) {
      #products .top-products .top-products-inner .page-info .results-container {
        display: none; } }
    #products .top-products .top-products-inner .page-info .results-container h4 {
      margin: 0;
      font-size: calc(1rem + 0.3vw); }
    @media (max-width: 767px) {
      #products .top-products .top-products-inner .page-info .filter-container {
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
        box-shadow: 0px 0px 13px 2px #d3d3d3; } }
    #products .top-products .top-products-inner .page-info .filter-container a {
      cursor: pointer;
      color: #000;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: 0.25px; }
      #products .top-products .top-products-inner .page-info .filter-container a svg.bi-filter {
        display: inline-block; }
        @media (min-width: 768px) {
          #products .top-products .top-products-inner .page-info .filter-container a svg.bi-filter {
            display: none; } }
      #products .top-products .top-products-inner .page-info .filter-container a svg.bi-chevron-down {
        display: none; }
        @media (min-width: 768px) {
          #products .top-products .top-products-inner .page-info .filter-container a svg.bi-chevron-down {
            display: inline-block; } }
  #products .top-products .top-products-inner .pagination .disabled {
    display: none; }
  #products .top-products .top-products-inner .pagination a {
    display: none; }

#products .top-products .toggle-filters.mobile-layout {
  position: absolute;
  z-index: 120;
  width: 100%; }

#products .top-products .toggle-filters .card {
  border: none;
  border-radius: 0px;
  background-color: #197b30;
  padding: 0px; }
  @media (min-width: 768px) {
    #products .top-products .toggle-filters .card {
      flex-direction: row;
      background-color: #f2f2f2;
      padding: 1rem; } }
  @media (min-width: 768px) {
    #products .top-products .toggle-filters .card .card-body {
      flex-direction: row;
      padding: 2rem; } }
  #products .top-products .toggle-filters .card .title {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (min-width: 768px) {
      #products .top-products .toggle-filters .card .title {
        display: none; } }
    #products .top-products .toggle-filters .card .title h5 {
      text-transform: uppercase;
      padding: 1rem 2rem;
      margin-bottom: 0px; }
    #products .top-products .toggle-filters .card .title .close-inner {
      color: #fff;
      fill: #fff; }
      @media (min-width: 768px) {
        #products .top-products .toggle-filters .card .title .close-inner {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 1rem;
          margin-right: 1rem;
          color: #000; } }
  #products .top-products .toggle-filters .card .sort {
    background-color: #f2f2f2; }
    @media (min-width: 768px) {
      #products .top-products .toggle-filters .card .sort {
        margin-left: 10%;
        width: 25%;
        margin-right: 1.5rem; } }
    #products .top-products .toggle-filters .card .sort .sort-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer; }
      #products .top-products .toggle-filters .card .sort .sort-container[aria-expanded=true] {
        background-color: #197b30;
        color: #fff;
        margin: 0; }
      #products .top-products .toggle-filters .card .sort .sort-container.selected svg {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg); }
      @media (max-width: 767px) {
        #products .top-products .toggle-filters .card .sort .sort-container:hover {
          background-color: #197b30; }
          #products .top-products .toggle-filters .card .sort .sort-container:hover h5 {
            color: #fff; }
          #products .top-products .toggle-filters .card .sort .sort-container:hover svg {
            color: #fff;
            fill: #fff; } }
      #products .top-products .toggle-filters .card .sort .sort-container h5 {
        text-transform: uppercase;
        padding: 1rem 2rem; }
        @media (min-width: 768px) {
          #products .top-products .toggle-filters .card .sort .sort-container h5 {
            text-decoration: underline; } }
      #products .top-products .toggle-filters .card .sort .sort-container svg {
        transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease; }
        @media (min-width: 768px) {
          #products .top-products .toggle-filters .card .sort .sort-container svg {
            display: none; } }
    #products .top-products .toggle-filters .card .sort a {
      text-decoration: none;
      color: #000;
      text-transform: capitalize;
      transition: all 0.25s ease;
      -webkit-transition: all 0.25s ease; }
      #products .top-products .toggle-filters .card .sort a:hover {
        color: #999; }
  #products .top-products .toggle-filters .card .price {
    background-color: #f2f2f2; }
    @media (min-width: 768px) {
      #products .top-products .toggle-filters .card .price {
        margin-right: 1.5rem; } }
    #products .top-products .toggle-filters .card .price .price-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer; }
      #products .top-products .toggle-filters .card .price .price-container[aria-expanded=true] {
        background-color: #197b30;
        color: #fff;
        margin: 0; }
      #products .top-products .toggle-filters .card .price .price-container.selected svg {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg); }
      @media (max-width: 767px) {
        #products .top-products .toggle-filters .card .price .price-container:hover {
          background-color: #197b30; }
          #products .top-products .toggle-filters .card .price .price-container:hover h5 {
            color: #fff; }
          #products .top-products .toggle-filters .card .price .price-container:hover svg {
            color: #fff;
            fill: #fff; } }
      #products .top-products .toggle-filters .card .price .price-container h5 {
        text-transform: uppercase;
        padding: 1rem 2rem; }
        @media (min-width: 768px) {
          #products .top-products .toggle-filters .card .price .price-container h5 {
            text-decoration: underline; } }
      #products .top-products .toggle-filters .card .price .price-container svg {
        transition: all 0.25s ease;
        -webkit-transition: all 0.25s ease; }
        @media (min-width: 768px) {
          #products .top-products .toggle-filters .card .price .price-container svg {
            display: none; } }
    #products .top-products .toggle-filters .card .price .price-by {
      margin-bottom: 0px; }
  #products .top-products .toggle-filters .card .collapse {
    margin-bottom: 0px;
    padding-bottom: 1rem; }
    @media (min-width: 768px) {
      #products .top-products .toggle-filters .card .collapse {
        display: block;
        height: auto !important;
        visibility: visible; } }
    @media (max-width: 767px) {
      #products .top-products .toggle-filters .card .collapse p {
        padding: 0.75rem !important; } }
    #products .top-products .toggle-filters .card .collapse.show {
      background-color: #197b30;
      color: #fff; }
    @media (max-width: 767px) {
      #products .top-products .toggle-filters .card .collapse a {
        color: #fff; } }
  #products .top-products .toggle-filters .card .collapsing {
    background-color: #197b30;
    margin-bottom: 0px; }
    @media (min-width: 768px) {
      #products .top-products .toggle-filters .card .collapsing {
        position: relative;
        height: unset !important;
        overflow: hidden; } }
    @media (max-width: 767px) {
      #products .top-products .toggle-filters .card .collapsing p {
        padding: 0.75rem !important; } }
    #products .top-products .toggle-filters .card .collapsing a, #products .top-products .toggle-filters .card .collapsing input, #products .top-products .toggle-filters .card .collapsing li {
      color: #fff; }
  #products .top-products .toggle-filters .card ul li {
    list-style: none;
    padding: 5px 0px; }
    #products .top-products .toggle-filters .card ul li span {
      cursor: pointer; }
    #products .top-products .toggle-filters .card ul li input[type="checkbox"]:before {
      background-color: #fff; }

#products .product-container {
  flex-direction: column;
  position: relative;
  padding: 1rem;
  border-radius: 4px; }
  @media (max-width: 767px) {
    #products .product-container {
      -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
      box-shadow: 0px 0px 13px 2px #d3d3d3; } }
  #products .product-container .title {
    text-decoration: none;
    color: #000; }
  #products .product-container .add-cart-products {
    bottom: 20px;
    right: calc(var(--bs-gutter-x) * .5);
    justify-content: flex-end;
    position: relative; }
    @media (min-width: 768px) {
      #products .product-container .add-cart-products {
        position: absolute;
        top: 0;
        bottom: auto; } }
    #products .product-container .add-cart-products:hover .cart-icon, #products .product-container .add-cart-products:hover .arrow-right {
      opacity: 1;
      display: flex !important; }
    #products .product-container .add-cart-products .cart-icon {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      opacity: 0;
      font-size: 0.8rem;
      align-items: center; }
    #products .product-container .add-cart-products .arrow-right {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      opacity: 0;
      height: 0px;
      width: 0px;
      right: 40px;
      top: 12px;
      position: absolute;
      border-top: solid 8px transparent;
      border-left: solid 8px black;
      border-bottom: solid 8px transparent; }
      @media (min-width: 768px) {
        #products .product-container .add-cart-products .arrow-right {
          right: 32px;
          top: 8px; } }
    #products .product-container .add-cart-products .icon-container {
      border-radius: 50%; }
      @media (max-width: 767px) {
        #products .product-container .add-cart-products .icon-container {
          -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
          box-shadow: 0px 0px 13px 2px #d3d3d3;
          padding: 0.25rem; }
          #products .product-container .add-cart-products .icon-container:hover {
            background-color: #197b30; }
            #products .product-container .add-cart-products .icon-container:hover svg {
              color: #fff;
              fill: #fff; } }
    #products .product-container .add-cart-products svg {
      cursor: pointer;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      @media (min-width: 768px) {
        #products .product-container .add-cart-products svg.bi-cart-plus:hover {
          background-color: #197b30;
          color: #fff; } }
  #products .product-container .zoom {
    display: none; }
    @media (min-width: 768px) {
      #products .product-container .zoom {
        display: block; } }
    #products .product-container .zoom svg {
      cursor: pointer;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      #products .product-container .zoom svg.bi-zoom-in {
        position: absolute;
        right: calc(var(--bs-gutter-x) * .5);
        top: 32px;
        fill: #000;
        color: #000; }
        #products .product-container .zoom svg.bi-zoom-in:hover {
          background-color: #197b30;
          color: #fff;
          fill: #fff; }

#products .back-to-top {
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.25s all ease;
  -webkit-transition: 0.25s all ease; }
  @media (max-width: 767px) {
    #products .back-to-top {
      border-radius: 0px;
      text-transform: uppercase;
      padding: 10px 50px;
      text-decoration: none;
      background-color: #000;
      border: 1px solid #000;
      color: #fff;
      font-weight: 600; }
      #products .back-to-top:hover {
        color: #000;
        background-color: transparent; } }

#ind-product .breadcrumbs {
  align-items: center; }
  #ind-product .breadcrumbs .breadcrumbs-container {
    font-size: 0.9rem; }
    #ind-product .breadcrumbs .breadcrumbs-container a {
      text-decoration: none;
      color: #000; }

@media (max-width: 767px) {
  #ind-product .product-info {
    padding-left: 1.5rem;
    padding-right: 1.5rem; } }

#ind-product .product-info .image-main-container {
  flex-direction: column; }
  @media (min-width: 768px) {
    #ind-product .product-info .image-main-container {
      flex-direction: row; } }
  #ind-product .product-info .image-main-container .image-gallery {
    flex-direction: row;
    order: 2;
    overflow: scroll;
    width: 100%; }
    #ind-product .product-info .image-main-container .image-gallery::-webkit-scrollbar {
      display: none; }
    @media (min-width: 768px) {
      #ind-product .product-info .image-main-container .image-gallery {
        flex-direction: column;
        overflow: initial; }
        #ind-product .product-info .image-main-container .image-gallery img {
          margin: 0.5rem 0rem; }
          #ind-product .product-info .image-main-container .image-gallery img:first-child {
            margin-top: 0px; } }
    @media (min-width: 1030px) {
      #ind-product .product-info .image-main-container .image-gallery {
        order: 1;
        width: 50%;
        display: flex !important;
        padding-right: 2rem; } }
    #ind-product .product-info .image-main-container .image-gallery img {
      margin-right: 1rem;
      cursor: pointer;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      @media (max-width: 767px) {
        #ind-product .product-info .image-main-container .image-gallery img {
          width: 50%; } }
      #ind-product .product-info .image-main-container .image-gallery img:hover {
        filter: brightness(90%);
        -webkit-filter: brightness(90%); }
      #ind-product .product-info .image-main-container .image-gallery img.active {
        opacity: 0.8; }
  #ind-product .product-info .image-main-container .image {
    order: 1;
    margin-bottom: 2rem;
    text-align: center; }
    @media (min-width: 768px) {
      #ind-product .product-info .image-main-container .image {
        order: 2; } }
    #ind-product .product-info .image-main-container .image img {
      cursor: zoom-in;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      @media (max-width: 767px) {
        #ind-product .product-info .image-main-container .image img {
          border: none !important; } }
      #ind-product .product-info .image-main-container .image img:hover {
        filter: brightness(90%);
        -webkit-filter: brightness(90%); }

#ind-product .product-info .info-container {
  margin: 20px 0px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    #ind-product .product-info .info-container {
      margin: 0px; } }
  #ind-product .product-info .info-container .name-price {
    display: flex;
    justify-content: space-between;
    order: 1; }
    @media (min-width: 768px) {
      #ind-product .product-info .info-container .name-price {
        flex-direction: column; } }
    #ind-product .product-info .info-container .name-price #name {
      margin-bottom: 0px; }
    #ind-product .product-info .info-container .name-price #price {
      color: #197b30;
      font-weight: 700;
      font-size: 1.5rem; }
  #ind-product .product-info .info-container #description {
    order: 3; }
  #ind-product .product-info .info-container .add-cart-container {
    align-items: center;
    order: 4; }
    #ind-product .product-info .info-container .add-cart-container select {
      border: solid 1px #d3d3d3;
      border-radius: 2px;
      padding: 0.25em 1.5em 0.25em 0.5em;
      background-image: linear-gradient(45deg, transparent 50%, #999 50%), linear-gradient(135deg, #999 50%, transparent 50%);
      background-position: calc(100% - 10px) calc(50%), calc(100% - 5px) calc(50%);
      background-size: 6px 5px, 6px 5px;
      background-repeat: no-repeat;
      -moz-appearance: none;
      -webkit-appearance: none; }
      #ind-product .product-info .info-container .add-cart-container select::-ms-expand {
        display: none; }
    #ind-product .product-info .info-container .add-cart-container .add-cart {
      border-radius: 0px;
      text-transform: uppercase; }
  #ind-product .product-info .info-container .categories {
    align-items: center;
    order: 2; }
    @media (min-width: 768px) {
      #ind-product .product-info .info-container .categories {
        order: 5; } }
    #ind-product .product-info .info-container .categories > * {
      color: #666;
      font-size: 1rem;
      margin: 0.5rem 0; }
    #ind-product .product-info .info-container .categories a {
      text-decoration: none;
      font-weight: 400;
      color: #666;
      line-height: 1.5; }
  #ind-product .product-info .info-container .disclaimer {
    color: #197b30;
    font-style: italic;
    order: 5; }
    #ind-product .product-info .info-container .disclaimer span {
      text-transform: uppercase; }

@media (max-width: 767px) {
  #ind-product .delivery-returns {
    margin-top: 2rem; } }

@media (min-width: 768px) {
  #ind-product .delivery-returns {
    background-color: #f2f2f2;
    padding: 2rem 1rem;
    margin: 2rem 0px; } }

#ind-product .delivery-returns > .row {
  max-width: 1200px;
  margin: 0 auto; }
  #ind-product .delivery-returns > .row.border-bottom-2px {
    border-bottom: 2px solid #d3d3d3; }
  #ind-product .delivery-returns > .row h5 {
    text-transform: uppercase;
    font-weight: 700; }
    #ind-product .delivery-returns > .row h5 a.pickup-tab, #ind-product .delivery-returns > .row h5 a.delivery-tab, #ind-product .delivery-returns > .row h5 a.returns-tab {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      color: #000;
      border: none;
      padding: 0.75rem;
      -webkit-box-shadow: 0px 0px 13px 2px #d3d3d3;
      box-shadow: 0px 0px 13px 2px #d3d3d3; }
      @media (min-width: 768px) {
        #ind-product .delivery-returns > .row h5 a.pickup-tab, #ind-product .delivery-returns > .row h5 a.delivery-tab, #ind-product .delivery-returns > .row h5 a.returns-tab {
          box-shadow: none;
          -webkit-box-shadow: none;
          cursor: initial;
          background-color: transparent;
          padding: 0; }
          #ind-product .delivery-returns > .row h5 a.pickup-tab svg, #ind-product .delivery-returns > .row h5 a.delivery-tab svg, #ind-product .delivery-returns > .row h5 a.returns-tab svg {
            display: none; } }
      #ind-product .delivery-returns > .row h5 a.pickup-tab svg, #ind-product .delivery-returns > .row h5 a.delivery-tab svg, #ind-product .delivery-returns > .row h5 a.returns-tab svg {
        transition: 0.25s all ease;
        -webkit-transition: 0.25s all ease; }
      #ind-product .delivery-returns > .row h5 a.pickup-tab.greentext svg, #ind-product .delivery-returns > .row h5 a.delivery-tab.greentext svg, #ind-product .delivery-returns > .row h5 a.returns-tab.greentext svg {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg); }
  @media (min-width: 768px) {
    #ind-product .delivery-returns > .row .collapse {
      display: block;
      height: auto !important;
      visibility: visible; } }
  @media (max-width: 767px) {
    #ind-product .delivery-returns > .row .collapse p {
      padding: 0.75rem !important; } }
  @media (min-width: 768px) {
    #ind-product .delivery-returns > .row .collapsing {
      position: relative;
      height: unset !important;
      overflow: hidden; } }
  @media (max-width: 767px) {
    #ind-product .delivery-returns > .row .collapsing p {
      padding: 0.75rem !important; } }
  @media (max-width: 767px) {
    #ind-product .delivery-returns > .row p.returns-desc {
      padding-bottom: 20px; } }
  @media (min-width: 768px) {
    #ind-product .delivery-returns > .row p.copyright-disclaimer-desc {
      padding-top: 20px;
      border-top: 2px solid #d3d3d3; } }
  #ind-product .delivery-returns > .row .copyright-disclaimer {
    margin-top: 1rem; }
    #ind-product .delivery-returns > .row .copyright-disclaimer p {
      font-size: 0.85rem; }
      @media (max-width: 767px) {
        #ind-product .delivery-returns > .row .copyright-disclaimer p {
          color: #666; } }
