#ind-product .breadcrumbs {
  align-items: center; }
  #ind-product .breadcrumbs .breadcrumbs-container {
    font-size: 0.9rem; }
    #ind-product .breadcrumbs .breadcrumbs-container a {
      text-decoration: none;
      color: #000; }

#ind-product .image img {
  cursor: zoom-in;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; }
  #ind-product .image img:hover {
    filter: brightness(90%);
    -webkit-filter: brightness(90%); }

#ind-product .info-container {
  margin: 20px 0px; }
  @media (min-width: 768px) {
    #ind-product .info-container {
      margin: 0px; } }
  #ind-product .info-container #name {
    margin-bottom: 0px; }
  #ind-product .info-container #price {
    color: #197b30;
    font-weight: 700;
    font-size: 1.5rem; }
  #ind-product .info-container .add-cart-container {
    align-items: center; }
    #ind-product .info-container .add-cart-container select {
      border: solid 1px #d3d3d3;
      border-radius: 2px;
      padding: 0.25em 1.5em 0.25em 0.5em;
      background-image: linear-gradient(45deg, transparent 50%, #999 50%), linear-gradient(135deg, #999 50%, transparent 50%);
      background-position: calc(100% - 10px) calc(50%), calc(100% - 5px) calc(50%);
      background-size: 6px 5px, 6px 5px;
      background-repeat: no-repeat;
      -moz-appearance: none;
      -webkit-appearance: none; }
      #ind-product .info-container .add-cart-container select::-ms-expand {
        display: none; }
    #ind-product .info-container .add-cart-container .add-cart {
      border-radius: 0px;
      text-transform: uppercase; }
  #ind-product .info-container .categories a {
    text-decoration: none;
    color: #000;
    font-weight: 400; }
  #ind-product .info-container .disclaimer {
    color: #197b30;
    font-style: italic; }
    #ind-product .info-container .disclaimer span {
      text-transform: uppercase; }

#ind-product .delivery-returns {
  background-color: #f2f2f2; }
  #ind-product .delivery-returns > .row {
    max-width: 1200px;
    margin: 0 auto; }
    #ind-product .delivery-returns > .row.border-bottom-2px {
      border-bottom: 2px solid #d3d3d3; }
    #ind-product .delivery-returns > .row h5 {
      text-transform: uppercase;
      font-weight: 700; }
    @media (max-width: 767px) {
      #ind-product .delivery-returns > .row p.returns-desc {
        padding-bottom: 20px;
        border-bottom: 2px solid #d3d3d3; } }
    @media (min-width: 768px) {
      #ind-product .delivery-returns > .row p.copyright-disclaimer-desc {
        padding-top: 20px;
        border-top: 2px solid #d3d3d3; } }
    #ind-product .delivery-returns > .row .copyright-disclaimer p {
      font-size: 0.85rem; }
