#cart .cart-header .btn, #cart .empty-cart-container .btn, #cart .cart-totals .btn, #cart-checkout .return-to-cart .btn {
  border-radius: 0px;
  text-transform: uppercase;
  padding: 10px 50px; }

header .admin-bar {
  background-color: #6f42c1;
  color: #fff;
  font-weight: 700;
  top: 0;
  z-index: 10;
  width: 100%; }
  header .admin-bar a {
    color: #fff;
    font-weight: 500; }

header .cart, header .logout {
  line-height: 2; }

header .account-name img {
  width: 40px; }

header .customer a {
  text-decoration: none; }

header .row-first a.shop-faq {
  text-decoration: none;
  text-transform: uppercase; }

header .row-first .sign-in {
  text-align: right; }

header .row-second {
  box-shadow: 0px 0px 15px 0px #000000;
  -webkit-box-shadow: 0px 0px 15px 0px #000000; }
  header .row-second .cart a {
    color: #000;
    text-decoration: none; }

header nav #main-navigation > li a {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  position: relative;
  padding: 5px 20px; }
  header nav #main-navigation > li a.dd-handle:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 1px;
    height: 20px;
    right: 0;
    top: 10px; }

header nav #main-navigation > li:first-child a {
  padding-left: 0px; }

header nav #main-navigation > li:last-child a.dd-handle:after {
  width: 0px; }

footer {
  background-color: #000;
  color: #fff; }
  footer .column h4 {
    position: relative; }
    footer .column h4:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      background-color: #fff;
      width: 40%;
      height: 2px; }
  footer .column ul {
    padding-left: 0; }
    footer .column ul li {
      list-style-type: none;
      line-height: 2; }
  footer .column a {
    text-decoration: none;
    color: #fff; }
  footer .column:last-child h4:after {
    width: 20%; }

body #admin-header {
  background-color: #343a40; }
  body #admin-header #admin-navigation ul.navbar-nav li {
    position: relative; }
    body #admin-header #admin-navigation ul.navbar-nav li a {
      display: inline-block; }
    body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu {
      left: 0; }
      body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu li a {
        color: #000; }

body main li.page {
  list-style-type: none; }
  body main li.page .btn-info {
    display: inline-block; }
  body main li.page .delete {
    display: inline-block; }

body main li.gallery {
  list-style-type: none; }

body main .nav-sort ol#main-navigation .nav-item {
  background: #333; }
  body main .nav-sort ol#main-navigation .nav-item > a {
    color: #fff;
    padding-left: 10px; }
  body main .nav-sort ol#main-navigation .nav-item button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  body main .nav-sort ol#main-navigation .nav-item ol.sub-nav {
    background: #666;
    margin-left: 20px;
    padding-left: 20px;
    color: #fff; }
    body main .nav-sort ol#main-navigation .nav-item ol.sub-nav a {
      background: #666;
      color: #fff; }

#cart .cart-header .btn, #cart .empty-cart-container .btn, #cart .cart-totals .btn, #cart-checkout .return-to-cart .btn {
  border-radius: 0px;
  text-transform: uppercase;
  padding: 10px 50px; }

body .btn {
  font-weight: 600; }
  body .btn.btn-green {
    background-color: #197b30;
    border-color: #197b30;
    color: #fff; }
  body .btn.btn-lightgrey {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    color: #000; }
  body .btn.btn-black {
    background-color: #000 !important;
    border-color: #000 !important;
    color: #fff !important; }
    body .btn.btn-black:hover {
      background-color: #fff !important;
      border-color: #fff;
      color: #000 !important; }

#cart .cart-header {
  background-color: #000;
  padding: 50px 0px; }
  #cart .cart-header > div .link-container {
    flex-direction: column; }
    @media (min-width: 768px) {
      #cart .cart-header > div .link-container {
        flex-direction: row; } }
  #cart .cart-header h3 {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px; }

#cart .empty-cart-container {
  text-align: center; }
  #cart .empty-cart-container svg {
    width: 100px;
    height: 100px;
    color: #d3d3d3;
    fill: #d3d3d3; }
  #cart .empty-cart-container h4 {
    text-transform: uppercase;
    margin: 15px 0px; }
  #cart .empty-cart-container p {
    width: 50%;
    margin: 0 auto 20px; }

#cart .subtotal-title {
  border-bottom: 2px solid #d3d3d3;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    #cart .subtotal-title {
      display: none; } }
  #cart .subtotal-title div {
    text-transform: uppercase;
    font-weight: 700;
    text-align: left; }
    #cart .subtotal-title div:first-child {
      text-align: center; }

@media (max-width: 767px) {
  #cart .product .row > div {
    text-align: center;
    margin: 10px 0px;
    justify-content: center; } }

#cart .product .product-title {
  justify-content: space-between; }
  @media (min-width: 768px) {
    #cart .product .product-title {
      display: flex; } }
  #cart .product .product-title a {
    text-decoration: none;
    color: #000;
    text-align: center;
    display: flex;
    flex: 1; }
    #cart .product .product-title a:hover {
      color: #666; }
    #cart .product .product-title a h5 {
      width: 100%; }
  #cart .product .product-title img {
    max-width: 150px; }

#cart .product .adjust-quantity {
  align-items: baseline; }
  #cart .product .adjust-quantity .adjust-container {
    border: 1px solid #d3d3d3;
    align-items: center; }
    #cart .product .adjust-quantity .adjust-container p {
      display: inline-block;
      margin: 0;
      width: 50px; }
    #cart .product .adjust-quantity .adjust-container .btn {
      border-color: #d3d3d3;
      background-color: #f2f2f2;
      border-radius: 0px; }
      #cart .product .adjust-quantity .adjust-container .btn:hover {
        background-color: #d3d3d3; }
      #cart .product .adjust-quantity .adjust-container .btn.remove-item {
        border-right: 2px solid #d3d3d3; }
      #cart .product .adjust-quantity .adjust-container .btn.add-item {
        border-left: 2px solid #d3d3d3; }

@media (min-width: 768px) {
  #cart .product .delete-product-cart {
    justify-content: flex-end; } }

#cart .cart-totals {
  border-top: 2px solid #d3d3d3;
  padding-top: 20px; }
  #cart .cart-totals p:first-child {
    display: inline-block; }
  #cart .cart-totals p:last-child {
    font-style: italic; }
  #cart .cart-totals #sub-total {
    color: #197b30;
    display: inline-block; }

#cart .confirmation-container #progressbar li.active:before {
  content: none; }

#cart .confirmation-container #progressbar li.active svg {
  background-color: #fff;
  border-radius: 50%;
  color: #39b54a; }

#cart .confirmation-container #progressbar li.active span {
  position: relative;
  top: 1px; }

#cart .confirmation-container h4 {
  border-bottom: 2px solid #acacac;
  line-height: 2; }

#cart .confirmation-container .message {
  border: 2px solid #39b54a;
  align-items: center; }
  #cart .confirmation-container .message .icon-container {
    position: relative; }
    #cart .confirmation-container .message .icon-container:after {
      content: "";
      position: absolute;
      top: 0;
      right: -30px;
      width: 1px;
      height: 100%;
      background-color: #ccc; }
    #cart .confirmation-container .message .icon-container svg {
      border-radius: 50%;
      background-color: #fff;
      color: #39b54a; }
  #cart .confirmation-container .message .inner-message {
    margin-left: 3rem; }

#cart .confirmation-container .order-summary {
  overflow: hidden;
  border-bottom: 2px solid #acacac; }
  #cart .confirmation-container .order-summary .titles {
    border-bottom: 2px solid #acacac; }
    #cart .confirmation-container .order-summary .titles > div {
      font-weight: 700;
      line-height: 2.5; }

#cart .confirmation-container .tax-subtotal {
  border-bottom: 2px solid #acacac; }
  #cart .confirmation-container .tax-subtotal h6 {
    font-weight: 700; }
  #cart .confirmation-container .tax-subtotal .shipping-sub .value {
    text-transform: uppercase; }

#cart .confirmation-container .order-inner-container {
  flex-direction: column; }
  @media (min-width: 768px) {
    #cart .confirmation-container .order-inner-container {
      flex-direction: row; } }
  #cart .confirmation-container .order-inner-container h6 {
    font-weight: 700; }
  #cart .confirmation-container .order-inner-container .billing-details {
    flex-grow: 2; }
  #cart .confirmation-container .order-inner-container .shipping-method {
    flex-grow: 2; }
    @media (min-width: 768px) {
      #cart .confirmation-container .order-inner-container .shipping-method {
        margin: 0 1rem; } }
  #cart .confirmation-container .order-inner-container .notes {
    flex-grow: 2; }

#cart .confirmation-container .order-amount > div {
  font-weight: 700; }

#cart .confirmation-container .links {
  flex-direction: column; }
  @media (min-width: 768px) {
    #cart .confirmation-container .links {
      flex-direction: row; } }
  #cart .confirmation-container .links a {
    border-radius: 0px;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      #cart .confirmation-container .links a:nth-child(2) {
        margin: 0px 20px; } }

#cart .cart-header .btn, #cart .empty-cart-container .btn, #cart .cart-totals .btn, #cart-checkout .return-to-cart .btn {
  border-radius: 0px;
  text-transform: uppercase;
  padding: 10px 50px; }

#cart-checkout .return-to-cart {
  text-align: center;
  width: 80%;
  margin: 40px 10%; }
  @media (min-width: 1030px) {
    #cart-checkout .return-to-cart {
      text-align: left; } }
  #cart-checkout .return-to-cart .btn svg {
    position: relative;
    bottom: 2px;
    right: 10px; }

#cart-checkout .cart-totals .quantity-total .cart-count-bottom {
  display: block; }

#cart-checkout .cart-totals .sub-total #sub-total {
  display: block; }

@media (min-width: 1030px) {
  #cart-checkout .cart-container {
    position: sticky;
    top: 0; } }

#cart-checkout .cart-container .cart-summary-title {
  border-bottom: 2px solid #d3d3d3; }

#cart-checkout .cart-container div.cart-summary {
  width: 100%;
  margin: 20px 0px; }
  #cart-checkout .cart-container div.cart-summary .product {
    margin: 20px 0px; }
    #cart-checkout .cart-container div.cart-summary .product > div {
      flex: 1; }
      #cart-checkout .cart-container div.cart-summary .product > div.product-order-info {
        flex-grow: 2; }
        #cart-checkout .cart-container div.cart-summary .product > div.product-order-info > * {
          display: block;
          text-decoration: none;
          color: #000; }
        #cart-checkout .cart-container div.cart-summary .product > div.product-order-info a {
          font-weight: bold; }
        #cart-checkout .cart-container div.cart-summary .product > div.product-order-info span.dollar-sign {
          display: inline-block; }

#cart-checkout .quantity-total {
  border-top: 2px solid #d3d3d3;
  padding-top: 20px;
  flex-direction: column; }
  #cart-checkout .quantity-total > div {
    margin: 5px 0px;
    justify-content: space-between; }
    #cart-checkout .quantity-total > div.total {
      border-top: 2px solid #d3d3d3;
      font-weight: bold;
      margin-top: 20px;
      padding-top: 20px; }

#order {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  position: relative;
  max-width: none; }
  #order .ast {
    color: #f00; }
  #order label {
    display: block; }
  #order .fs-title {
    font-size: 1.5rem;
    color: #2C3E50;
    margin-bottom: 10px; }
    #order .fs-title .inner-title {
      text-transform: uppercase;
      color: #000;
      font-size: 1rem;
      margin-left: 15px; }
      #order .fs-title .inner-title svg {
        position: relative;
        bottom: 2px; }
  #order .fs-subtitle {
    font-weight: normal;
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px; }
  #order fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    white-space: nowrap; }
    @media (min-width: 1030px) {
      #order fieldset {
        width: 80%;
        margin: 0 10%; } }
    #order fieldset input, #order fieldset textarea, #order fieldset select {
      padding: 15px;
      border: 1px solid #666;
      border-radius: 0px;
      margin-bottom: 10px;
      width: 100%;
      box-sizing: border-box;
      color: #2C3E50;
      font-size: 13px;
      font-weight: 600; }
      #order fieldset input::placeholder, #order fieldset textarea::placeholder, #order fieldset select::placeholder {
        font-style: italic;
        color: #A0A0A0; }
      #order fieldset input[type="checkbox"], #order fieldset textarea[type="checkbox"], #order fieldset select[type="checkbox"] {
        width: auto; }
    @media (min-width: 1030px) {
      #order fieldset .form-inner-container.form-address-other, #order fieldset .form-inner-container.form-billing-address.part-2 {
        flex-direction: row !important; }
        #order fieldset .form-inner-container.form-address-other .form-field, #order fieldset .form-inner-container.form-billing-address.part-2 .form-field {
          flex-grow: 1;
          flex-shrink: 1;
          flex-basis: 200px; }
          #order fieldset .form-inner-container.form-address-other .form-field:first-child, #order fieldset .form-inner-container.form-billing-address.part-2 .form-field:first-child {
            padding-right: 0px; }
          #order fieldset .form-inner-container.form-address-other .form-field:nth-child(2), #order fieldset .form-inner-container.form-billing-address.part-2 .form-field:nth-child(2) {
            padding: 0px 20px;
            flex-shrink: 2; } }
    #order fieldset .form-inner-container.form-address-other .form-field:nth-child(2) select, #order fieldset .form-inner-container.form-billing-address.part-2 .form-field:nth-child(2) select {
      height: 50px;
      border-radius: 0px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">\a 							<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>\a 						  </svg>');
      background-repeat: no-repeat;
      background-position-x: 95%;
      background-position-y: 12px;
      padding: 0px 10px; }
    #order fieldset .form-inner-container.form-shipping-information .form-field.first label {
      display: inline-block; }
    #order fieldset .form-inner-container.form-shipping-information .shipping-option {
      flex-direction: column; }
      @media (min-width: 1030px) {
        #order fieldset .form-inner-container.form-shipping-information .shipping-option {
          flex-direction: row; } }
      #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field {
        outline: 1px solid #666;
        position: relative;
        cursor: pointer;
        margin: 10px 0px; }
        @media (min-width: 1030px) {
          #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field {
            margin: 0px;
            padding: 1rem 2rem !important; } }
        @media (min-width: 1030px) {
          #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field:first-child {
            margin-right: 20px; } }
        #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field.active {
          outline: 2px solid #00adf2; }
        #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field label {
          font-weight: 600;
          font-size: 1.2rem;
          justify-content: space-between; }
        #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field input[type="radio"] {
          position: absolute;
          width: 100%;
          height: 100%;
          right: 0;
          margin-bottom: 0;
          bottom: 0;
          visibility: hidden; }
        #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field span {
          color: #A0A0A0; }
          #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field span.shipping-name {
            color: #000; }
        #order fieldset .form-inner-container.form-shipping-information .shipping-option > .form-field .shipping-price {
          text-transform: uppercase; }
    #order fieldset .form-inner-container.half {
      flex-direction: column; }
      @media (min-width: 1030px) {
        #order fieldset .form-inner-container.half {
          flex-direction: row; }
          #order fieldset .form-inner-container.half .form-field:first-child {
            padding-right: 20px; } }
    #order fieldset .form-inner-container.form-card {
      flex-wrap: wrap; }
      @media (min-width: 1030px) and (max-width: 1399px) {
        #order fieldset .form-inner-container.form-card > div.card-container {
          flex: 0 0 75%; }
        #order fieldset .form-inner-container.form-card > div.card-type {
          flex: 0 0 25%; }
        #order fieldset .form-inner-container.form-card > div.month-year {
          flex: 0 0 50%;
          padding-right: 20px; }
        #order fieldset .form-inner-container.form-card > div.cvc {
          flex: 0 0 50%; } }
      @media (min-width: 1400px) {
        #order fieldset .form-inner-container.form-card > div.card-container {
          flex: 0 0 50%; }
        #order fieldset .form-inner-container.form-card > div.card-type {
          flex: 0 0 20%;
          padding-right: 20px; }
        #order fieldset .form-inner-container.form-card > div.month-year {
          flex: 0 0 15%;
          padding-right: 20px; }
        #order fieldset .form-inner-container.form-card > div.cvc {
          flex: 0 0 15%; } }
    #order fieldset .form-field {
      white-space: normal;
      vertical-align: top;
      flex: 1; }
    #order fieldset .info {
      text-align: left;
      font-weight: 700;
      padding-left: 0px; }
      #order fieldset .info span {
        font-weight: 400;
        white-space: pre-line; }
  #order .step-3 svg {
    position: relative;
    top: 11px; }
  #order .step-3 input[type="button"].previous {
    text-align: left;
    background-color: transparent;
    color: #000;
    text-transform: inherit;
    margin: 0;
    width: auto; }
  #order .step-3 input[type="submit"] {
    text-transform: uppercase; }
  #order .step-3 legend {
    font-size: calc(0.75rem + 0.3vw); }

/*Hide all except first fieldset*/
#order fieldset:not(:first-of-type) {
  display: none; }

/*buttons*/
#order .action-button {
  width: 100%;
  background: #000;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease; }
  #order .action-button:hover {
    color: #333333 !important; }

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progressbar {
  margin: 40px 10%;
  padding-left: 0px;
  display: flex;
  flex-direction: column; }
  @media (min-width: 1030px) {
    #progressbar {
      flex-direction: row; } }
  #progressbar li {
    list-style-type: none;
    color: black;
    text-transform: uppercase;
    font-size: 0.8rem;
    float: left;
    position: relative;
    border-bottom: 2px solid #A0A0A0;
    flex: 1;
    padding: 10px; }
    #progressbar li.active {
      border-bottom: 2px solid #000;
      text-align: center; }
    #progressbar li:before {
      content: counter(step);
      counter-increment: step;
      width: 30px;
      height: 30px;
      line-height: 20px;
      display: block;
      font-size: 1rem;
      color: #333;
      background: white;
      border-radius: 25px;
      margin: 0 auto 5px auto;
      position: absolute;
      left: 20px;
      padding-top: 4px;
      top: 3px; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #27AE60;
  color: white; }

body header {
  background-color: #000; }
  body header a {
    color: #d3d3d3; }

body #customer-header {
  background-color: #343a40; }

body .customer-container img {
  max-width: 300px;
  border-radius: 50% !important; }

#products .product-container {
  flex-direction: column;
  position: relative; }
  #products .product-container .title {
    text-decoration: none;
    color: #000; }
  #products .product-container .add-cart-products {
    position: absolute;
    top: 0;
    right: calc(var(--bs-gutter-x) * .5); }
    #products .product-container .add-cart-products:hover .cart-icon, #products .product-container .add-cart-products:hover .arrow-right {
      opacity: 1;
      display: flex !important; }
    #products .product-container .add-cart-products .cart-icon {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      opacity: 0;
      font-size: 0.8rem;
      align-items: center; }
    #products .product-container .add-cart-products .arrow-right {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      opacity: 0;
      height: 0px;
      width: 0px;
      right: 32px;
      top: 10px;
      position: absolute;
      border-top: solid 8px transparent;
      border-left: solid 8px black;
      border-bottom: solid 8px transparent; }
    #products .product-container .add-cart-products svg {
      cursor: pointer;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      #products .product-container .add-cart-products svg.bi-cart-plus:hover {
        background-color: #197b30;
        color: #fff; }
  #products .product-container svg {
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease; }
    #products .product-container svg.bi-zoom-in {
      position: absolute;
      right: calc(var(--bs-gutter-x) * .5);
      top: 32px;
      fill: #000;
      color: #000; }
      #products .product-container svg.bi-zoom-in:hover {
        background-color: #197b30;
        color: #fff;
        fill: #fff; }

#products .back-to-top {
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer; }

#ind-product .breadcrumbs {
  align-items: center; }
  #ind-product .breadcrumbs .breadcrumbs-container {
    font-size: 0.9rem; }
    #ind-product .breadcrumbs .breadcrumbs-container a {
      text-decoration: none;
      color: #000; }

#ind-product .image-main-container {
  flex-direction: column; }
  @media (min-width: 768px) {
    #ind-product .image-main-container {
      flex-direction: row; } }
  #ind-product .image-main-container .image-gallery {
    flex-direction: row;
    order: 2;
    overflow: scroll;
    width: 100%; }
    #ind-product .image-main-container .image-gallery::-webkit-scrollbar {
      display: none; }
    @media (min-width: 768px) {
      #ind-product .image-main-container .image-gallery {
        flex-direction: column;
        overflow: initial; }
        #ind-product .image-main-container .image-gallery img {
          margin: 0.5rem 0rem; }
          #ind-product .image-main-container .image-gallery img:first-child {
            margin-top: 0px; } }
    @media (min-width: 1030px) {
      #ind-product .image-main-container .image-gallery {
        order: 1;
        width: 50%;
        display: flex !important;
        padding-right: 2rem; } }
    #ind-product .image-main-container .image-gallery img {
      margin-right: 1rem;
      cursor: pointer;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      @media (max-width: 767px) {
        #ind-product .image-main-container .image-gallery img {
          width: 50%; } }
      #ind-product .image-main-container .image-gallery img:hover {
        filter: brightness(90%);
        -webkit-filter: brightness(90%); }
      #ind-product .image-main-container .image-gallery img.active {
        opacity: 0.8; }
  #ind-product .image-main-container .image {
    order: 1;
    margin-bottom: 2rem; }
    @media (min-width: 768px) {
      #ind-product .image-main-container .image {
        order: 2; } }
    #ind-product .image-main-container .image img {
      cursor: zoom-in;
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease; }
      #ind-product .image-main-container .image img:hover {
        filter: brightness(90%);
        -webkit-filter: brightness(90%); }

#ind-product .info-container {
  margin: 20px 0px; }
  @media (min-width: 768px) {
    #ind-product .info-container {
      margin: 0px; } }
  #ind-product .info-container #name {
    margin-bottom: 0px; }
  #ind-product .info-container #price {
    color: #197b30;
    font-weight: 700;
    font-size: 1.5rem; }
  #ind-product .info-container .add-cart-container {
    align-items: center; }
    #ind-product .info-container .add-cart-container select {
      border: solid 1px #d3d3d3;
      border-radius: 2px;
      padding: 0.25em 1.5em 0.25em 0.5em;
      background-image: linear-gradient(45deg, transparent 50%, #999 50%), linear-gradient(135deg, #999 50%, transparent 50%);
      background-position: calc(100% - 10px) calc(50%), calc(100% - 5px) calc(50%);
      background-size: 6px 5px, 6px 5px;
      background-repeat: no-repeat;
      -moz-appearance: none;
      -webkit-appearance: none; }
      #ind-product .info-container .add-cart-container select::-ms-expand {
        display: none; }
    #ind-product .info-container .add-cart-container .add-cart {
      border-radius: 0px;
      text-transform: uppercase; }
  #ind-product .info-container .categories a {
    text-decoration: none;
    color: #000;
    font-weight: 400; }
  #ind-product .info-container .disclaimer {
    color: #197b30;
    font-style: italic; }
    #ind-product .info-container .disclaimer span {
      text-transform: uppercase; }

#ind-product .delivery-returns {
  background-color: #f2f2f2; }
  #ind-product .delivery-returns > .row {
    max-width: 1200px;
    margin: 0 auto; }
    #ind-product .delivery-returns > .row.border-bottom-2px {
      border-bottom: 2px solid #d3d3d3; }
    #ind-product .delivery-returns > .row h5 {
      text-transform: uppercase;
      font-weight: 700; }
    @media (max-width: 767px) {
      #ind-product .delivery-returns > .row p.returns-desc {
        padding-bottom: 20px;
        border-bottom: 2px solid #d3d3d3; } }
    @media (min-width: 768px) {
      #ind-product .delivery-returns > .row p.copyright-disclaimer-desc {
        padding-top: 20px;
        border-top: 2px solid #d3d3d3; } }
    #ind-product .delivery-returns > .row .copyright-disclaimer p {
      font-size: 0.85rem; }

body .pagination a svg, body .pagination span svg {
  background-color: #197b30;
  color: #fff;
  fill: #fff;
  border-radius: 50%; }

body .pagination a.disabled svg, body .pagination span.disabled svg {
  background-color: #d3d3d3; }

#frmStripePayment {
  max-width: 300px;
  padding: 25px;
  border: #D0D0D0 1px solid;
  border-radius: 4px; }

.test-data {
  margin-top: 40px; }

.tutorial-table th {
  padding: 10px; }

.tutorial-table td {
  padding: 10px; }

#frmStripePayment .field-row {
  margin-bottom: 20px; }

#frmStripePayment div label {
  margin: 5px 0px 0px 5px;
  color: #49615d;
  width: auto; }

.demoInputBox {
  padding: 10px;
  border: #d0d0d0 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box; }

.demoSelectBox {
  padding: 10px;
  border: #d0d0d0 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  margin-top: 5px; }

select.demoSelectBox {
  height: 45px;
  margin-right: 10px; }

.error {
  background-color: #FF6600;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 0.9em; }

.success {
  background-color: #c3c791;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 0.9em; }

.info {
  font-size: .8em;
  color: #000;
  letter-spacing: 2px;
  padding-left: 5px; }

.btnAction {
  padding: 10px 40px;
  border-radius: 4px;
  cursor: pointer; }

.btnAction:focus {
  outline: none; }

.column-right {
  margin-right: 6px; }

.contact-row {
  display: inline-block; }

.cvv-input {
  width: 60px; }

#error-message {
  margin: 0px 0px 10px 0px;
  padding: 5px 25px;
  border-radius: 4px;
  line-height: 25px;
  font-size: 0.9em;
  color: #ca3e3e;
  border: #ca3e3e 1px solid;
  display: none;
  width: 300px; }

#success-message {
  margin: 0px 0px 10px 0px;
  padding: 5px 25px;
  border-radius: 4px;
  line-height: 25px;
  font-size: 0.9em;
  color: #3da55d;
  border: #43b567 1px solid;
  width: 300px; }

.display-none {
  display: none; }

#response-container {
  padding: 40px 20px;
  width: 270px;
  text-align: center; }

.ack-message {
  font-size: 1.5em;
  margin-bottom: 20px; }

#response-container.success {
  border-top: #b0dad3 2px solid;
  background: #e9fdfa; }

#response-container.error {
  border-top: #c3b4b4 2px solid;
  background: #f5e3e3; }

.img-response {
  margin-bottom: 30px; }

#loader {
  display: none; }

#loader img {
  width: 45px;
  vertical-align: middle; }

body {
  background-color: #f00;
  height: auto; }
  body main {
    background: #ff0;
    min-height: calc(100vh - 90px); }
    body main .shop-by h3 {
      text-transform: uppercase;
      padding: 12px 0px; }
    body main .shop-by .set {
      position: relative; }
      body main .shop-by .set .img-container {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px;
        position: relative; }
        body main .shop-by .set .img-container:before {
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          position: absolute;
          background: rgba(100, 100, 100, 0.5); }
      body main .shop-by .set strong {
        color: #fff;
        background-color: #000;
        padding: 20px 40px;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: calc(50% - 44px);
        left: calc(50% - 87px); }
    body main .featured-products {
      position: relative; }
      body main .featured-products h3 {
        text-transform: uppercase; }
      body main .featured-products .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .featured-products .controls:focus {
          outline: none; }
        body main .featured-products .controls li :hover {
          cursor: pointer; }
        body main .featured-products .controls li.prev {
          position: relative;
          left: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.prev {
              left: -50px; } }
        body main .featured-products .controls li.next {
          position: relative;
          right: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.next {
              right: -50px; } }
        body main .featured-products .controls i {
          font-size: 3rem; }
      body main .featured-products .featured-info {
        text-align: center; }
        @media (min-width: 600px) {
          body main .featured-products .featured-info {
            text-align: left; } }
    body main .latest-releases h3 {
      text-transform: uppercase; }
    body main .latest-releases .btn {
      border-radius: 0px; }
    body main .promos {
      position: relative; }
      body main .promos .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .promos .controls:focus {
          outline: none; }
        body main .promos .controls li :hover {
          cursor: pointer; }
        body main .promos .controls li.prev {
          position: relative;
          left: 10px; }
        body main .promos .controls li.next {
          position: relative;
          right: 10px; }
        body main .promos .controls svg {
          fill: #fff;
          color: #fff; }
      body main .promos .tns-nav {
        position: absolute;
        bottom: 40px;
        z-index: 50;
        left: calc(50% - 40px); }
        body main .promos .tns-nav button {
          width: 30px;
          border: none;
          padding: 2px;
          margin: 0px 5px;
          background-color: #d3d3d3; }
          body main .promos .tns-nav button.tns-nav-active {
            background-color: #fff; }
      body main .promos .promo {
        position: relative; }
        body main .promos .promo .promo-info {
          background-color: #000;
          right: 40px;
          bottom: 0;
          color: #fff;
          text-align: center;
          padding: 50px 20px 30px; }
          @media (min-width: 768px) {
            body main .promos .promo .promo-info {
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              max-width: 400px;
              text-align: right; } }
    body main #products h3 {
      margin-left: 1rem; }
    body main #products h5.filter-title {
      margin-left: 15px; }
    body main #products ul.filters li {
      list-style: none; }
    body main .product-id {
      display: none; }
    body main #product-info .categories > div {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 10px 0px 0px 0px; }
