header .cart, header .logout {
  line-height: 2; }

header .account-name img {
  width: 40px; }

header nav #main-navigation li a {
  display: inline-block;
  text-transform: capitalize; }

body #admin-header {
  background-color: #343a40; }
  body #admin-header #admin-navigation ul.navbar-nav li {
    position: relative; }
    body #admin-header #admin-navigation ul.navbar-nav li a {
      display: inline-block; }
    body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu {
      left: 0; }
      body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu li a {
        color: #000; }

body main li.page {
  list-style-type: none; }
  body main li.page .btn-info {
    display: inline-block; }
  body main li.page .delete {
    display: inline-block; }

body main li.gallery {
  list-style-type: none; }

body main .nav-sort ol#main-navigation .nav-item {
  background: #333; }
  body main .nav-sort ol#main-navigation .nav-item > a {
    color: #fff;
    padding-left: 10px; }
  body main .nav-sort ol#main-navigation .nav-item button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  body main .nav-sort ol#main-navigation .nav-item ol.sub-nav {
    background: #666;
    margin-left: 20px;
    padding-left: 20px;
    color: #fff; }
    body main .nav-sort ol#main-navigation .nav-item ol.sub-nav a {
      background: #666;
      color: #fff; }

body #customer-header {
  background-color: #343a40; }

body .customer-container img {
  max-width: 300px;
  border-radius: 50% !important; }

body {
  background-color: #f00;
  height: 500px; }
  body main {
    background: #ff0; }
    body main #products h3 {
      margin-left: 1rem; }
    body main #products h5.filter-title {
      margin-left: 15px; }
    body main #products ul.filters li {
      list-style: none; }
    body main .product-id {
      display: none; }
    body main #product-info .categories > div {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 10px 0px 0px 0px; }
    body main .cart-totals .quantity-total .cart-count-bottom {
      display: block; }
    body main .cart-totals .sub-total #sub-total {
      display: block; }
