header .admin-bar {
  background-color: #6f42c1;
  color: #fff;
  font-weight: 700;
  top: 0;
  z-index: 10;
  width: 100%; }
  header .admin-bar a {
    color: #fff;
    font-weight: 500; }

header .cart, header .logout {
  line-height: 2; }

header .account-name img {
  width: 40px; }

header .customer a {
  text-decoration: none; }

header .row-first a.shop-faq {
  text-decoration: none;
  text-transform: uppercase; }

header .row-first .sign-in {
  text-align: right; }

header .row-second {
  box-shadow: 0px 0px 15px 0px #000000;
  -webkit-box-shadow: 0px 0px 15px 0px #000000; }
  header .row-second .cart a {
    color: #000;
    text-decoration: none; }

header nav #main-navigation > li a {
  display: inline-block;
  text-transform: uppercase;
  color: #000;
  position: relative;
  padding: 5px 20px; }
  header nav #main-navigation > li a.dd-handle:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 1px;
    height: 20px;
    right: 0;
    top: 10px; }

header nav #main-navigation > li:first-child a {
  padding-left: 0px; }

header nav #main-navigation > li:last-child a.dd-handle:after {
  width: 0px; }

footer {
  background-color: #000;
  color: #fff; }
  footer .column h4 {
    position: relative; }
    footer .column h4:after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      background-color: #fff;
      width: 40%;
      height: 2px; }
  footer .column ul {
    padding-left: 0; }
    footer .column ul li {
      list-style-type: none;
      line-height: 2; }
  footer .column a {
    text-decoration: none;
    color: #fff; }
  footer .column:last-child h4:after {
    width: 20%; }

body #admin-header {
  background-color: #343a40; }
  body #admin-header #admin-navigation ul.navbar-nav li {
    position: relative; }
    body #admin-header #admin-navigation ul.navbar-nav li a {
      display: inline-block; }
    body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu {
      left: 0; }
      body #admin-header #admin-navigation ul.navbar-nav li ul.dropdown-menu li a {
        color: #000; }

body main li.page {
  list-style-type: none; }
  body main li.page .btn-info {
    display: inline-block; }
  body main li.page .delete {
    display: inline-block; }

body main li.gallery {
  list-style-type: none; }

body main .nav-sort ol#main-navigation .nav-item {
  background: #333; }
  body main .nav-sort ol#main-navigation .nav-item > a {
    color: #fff;
    padding-left: 10px; }
  body main .nav-sort ol#main-navigation .nav-item button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
  body main .nav-sort ol#main-navigation .nav-item ol.sub-nav {
    background: #666;
    margin-left: 20px;
    padding-left: 20px;
    color: #fff; }
    body main .nav-sort ol#main-navigation .nav-item ol.sub-nav a {
      background: #666;
      color: #fff; }

#order {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  position: relative;
  max-width: none; }

#order fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative; }
  #order fieldset .info {
    text-align: left;
    font-weight: 700; }
    #order fieldset .info span {
      font-weight: 400; }

/*Hide all except first fieldset*/
#order fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#order input, #order textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px; }

/*buttons*/
#order .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#order .action-button:hover, #order .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px; }

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px; }

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progressbar li {
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  width: 33.33%;
  float: left;
  position: relative;
  line-height: 1.75; }

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  position: absolute;
  left: 25%; }

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #27AE60;
  color: white; }

body header {
  background-color: #000; }
  body header a {
    color: #fff; }

body #customer-header {
  background-color: #343a40; }

body .customer-container img {
  max-width: 300px;
  border-radius: 50% !important; }

#frmStripePayment {
  max-width: 300px;
  padding: 25px;
  border: #D0D0D0 1px solid;
  border-radius: 4px; }

.test-data {
  margin-top: 40px; }

.tutorial-table th {
  padding: 10px; }

.tutorial-table td {
  padding: 10px; }

#frmStripePayment .field-row {
  margin-bottom: 20px; }

#frmStripePayment div label {
  margin: 5px 0px 0px 5px;
  color: #49615d;
  width: auto; }

.demoInputBox {
  padding: 10px;
  border: #d0d0d0 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box; }

.demoSelectBox {
  padding: 10px;
  border: #d0d0d0 1px solid;
  border-radius: 4px;
  background-color: #FFF;
  margin-top: 5px; }

select.demoSelectBox {
  height: 45px;
  margin-right: 10px; }

.error {
  background-color: #FF6600;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 0.9em; }

.success {
  background-color: #c3c791;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 0.9em; }

.info {
  font-size: .8em;
  color: #FF6600;
  letter-spacing: 2px;
  padding-left: 5px; }

.btnAction {
  background-color: #586ada;
  padding: 10px 40px;
  color: #FFF;
  border: #5263cc 1px solid;
  border-radius: 4px;
  cursor: pointer; }

.btnAction:focus {
  outline: none; }

.column-right {
  margin-right: 6px; }

.contact-row {
  display: inline-block; }

.cvv-input {
  width: 60px; }

#error-message {
  margin: 0px 0px 10px 0px;
  padding: 5px 25px;
  border-radius: 4px;
  line-height: 25px;
  font-size: 0.9em;
  color: #ca3e3e;
  border: #ca3e3e 1px solid;
  display: none;
  width: 300px; }

#success-message {
  margin: 0px 0px 10px 0px;
  padding: 5px 25px;
  border-radius: 4px;
  line-height: 25px;
  font-size: 0.9em;
  color: #3da55d;
  border: #43b567 1px solid;
  width: 300px; }

.display-none {
  display: none; }

#response-container {
  padding: 40px 20px;
  width: 270px;
  text-align: center; }

.ack-message {
  font-size: 1.5em;
  margin-bottom: 20px; }

#response-container.success {
  border-top: #b0dad3 2px solid;
  background: #e9fdfa; }

#response-container.error {
  border-top: #c3b4b4 2px solid;
  background: #f5e3e3; }

.img-response {
  margin-bottom: 30px; }

#loader {
  display: none; }

#loader img {
  width: 45px;
  vertical-align: middle; }

body {
  background-color: #f00;
  height: auto; }
  body main {
    background: #ff0;
    min-height: calc(100vh - 90px); }
    body main .shop-by h3 {
      text-transform: uppercase;
      padding: 12px 0px; }
    body main .shop-by .set {
      position: relative; }
      body main .shop-by .set .img-container {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 250px;
        position: relative; }
        body main .shop-by .set .img-container:before {
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          position: absolute;
          background: rgba(100, 100, 100, 0.5); }
      body main .shop-by .set strong {
        color: #fff;
        background-color: #000;
        padding: 20px 40px;
        text-transform: uppercase;
        display: flex;
        text-align: center;
        justify-content: center;
        position: absolute;
        bottom: calc(50% - 44px);
        left: calc(50% - 87px); }
    body main .featured-products {
      position: relative; }
      body main .featured-products h3 {
        text-transform: uppercase; }
      body main .featured-products .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .featured-products .controls:focus {
          outline: none; }
        body main .featured-products .controls li :hover {
          cursor: pointer; }
        body main .featured-products .controls li.prev {
          position: relative;
          left: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.prev {
              left: -50px; } }
        body main .featured-products .controls li.next {
          position: relative;
          right: 10px; }
          @media (min-width: 600px) {
            body main .featured-products .controls li.next {
              right: -50px; } }
        body main .featured-products .controls i {
          font-size: 3rem; }
      body main .featured-products .featured-info {
        text-align: center; }
        @media (min-width: 600px) {
          body main .featured-products .featured-info {
            text-align: left; } }
    body main .latest-releases h3 {
      text-transform: uppercase; }
    body main .latest-releases .btn {
      border-radius: 0px; }
    body main .promos {
      position: relative; }
      body main .promos .controls {
        margin: 0;
        padding: 0;
        list-style: none;
        position: absolute;
        left: 0;
        width: 100%;
        top: 50%;
        transform: translatey(-50%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 50; }
        body main .promos .controls:focus {
          outline: none; }
        body main .promos .controls li :hover {
          cursor: pointer; }
        body main .promos .controls li.prev {
          position: relative;
          left: 10px; }
        body main .promos .controls li.next {
          position: relative;
          right: 10px; }
        body main .promos .controls svg {
          fill: #fff;
          color: #fff; }
      body main .promos .tns-nav {
        position: absolute;
        bottom: 40px;
        z-index: 50;
        left: calc(50% - 40px); }
        body main .promos .tns-nav button {
          width: 30px;
          border: none;
          padding: 2px;
          margin: 0px 5px;
          background-color: #d3d3d3; }
          body main .promos .tns-nav button.tns-nav-active {
            background-color: #fff; }
      body main .promos .promo {
        position: relative; }
        body main .promos .promo .promo-info {
          background-color: #000;
          right: 40px;
          bottom: 0;
          color: #fff;
          text-align: center;
          padding: 50px 20px 30px; }
          @media (min-width: 768px) {
            body main .promos .promo .promo-info {
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              max-width: 400px;
              text-align: right; } }
    body main #products h3 {
      margin-left: 1rem; }
    body main #products h5.filter-title {
      margin-left: 15px; }
    body main #products ul.filters li {
      list-style: none; }
    body main .product-id {
      display: none; }
    body main #product-info .categories > div {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 10px 0px 0px 0px; }
    body main .cart-totals .quantity-total .cart-count-bottom {
      display: block; }
    body main .cart-totals .sub-total #sub-total {
      display: block; }
    body main .cart-container {
      position: sticky;
      top: 30%; }
      body main .cart-container table.cart-summary {
        width: 100%; }
    body main .quantity-total > div {
      margin: 5px 0px; }
    body main .quantity-total #sub-total, body main .quantity-total #hst-total, body main .quantity-total #total {
      float: right; }
