@import 'colors';

body {
    .btn-green {
        background-color: $brand-green;
        border-color: $brand-green;
        color: $white;
    }
    
    .btn-lightgrey {
        background-color: $lightgrey;
        border-color: $lightgrey;
        color: $black;
    }
    .btn-black {
        background-color: $black !important;
        border-color: $black !important;
        color: $white !important;
        &:hover {
            background-color: $white !important;
            border-color: $white ;
            color: $black !important;
        }
    }
}