#cart {
    .cart-header {
        background-color: $black;
        padding: 50px 0px;
        > div {
            .link-container {
                flex-direction: column;
                @media(min-width: 768px) {
                    flex-direction: row;
                }
            }
        }
        h3 {
            text-transform: uppercase;
            color: $white;
            margin-bottom: 20px;
        }
        .btn {
            @extend %btn-format;
        }
    }
    .empty-cart-container {
        text-align: center;
        svg {
            width: 100px;
            height: 100px;
            color: $lightgrey;
            fill: $lightgrey;
        }
        h4 {
            text-transform: uppercase;
            margin: 15px 0px;
        }
        p {
            width: 50%;
            margin: 0 auto 20px;
        }
        .btn {
            @extend %btn-format;
        }
    }
    .subtotal-title {
        @media(max-width: 767px) {
            display: none;
        }
        border-bottom: 2px solid $lightgrey;
        padding-bottom: 20px;
        div {
            text-transform: uppercase;
            font-weight: 700;
            text-align: left;
            &:first-child {
                text-align: center;
            }
        }
    }
    .product {
        .row {
            > div {
                @media(max-width: 767px) {
                    text-align: center;
                    justify-content: space-evenly;
                    position: relative;
                    max-width: 90%;
                    margin: 0 auto;
                }
            }
        }
        .desktop {
            display: none;
            @media(min-width: 768px) {
                display: block;
            }
        }
        .product-title {
            justify-content: space-between !important;
            display: flex;
            @media(max-width: 767px) {
                -webkit-box-shadow: 0px 0px 13px 2px $lightgrey; 
                box-shadow: 0px 0px 13px 2px $lightgrey;
                border-radius: 4px;
                padding: 1rem;
                margin-bottom: 1rem;
            }
            @media(min-width: 768px) {
                justify-content: space-between !important;
            }
            .title-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 0 1 calc(50% - 10px);
            }
            a {
                text-decoration: none;
                color: $black;
                display: flex;
                text-align: left;
                @media(min-width: 768px) {
                    flex: 1;
                    text-align: center;
                }
                &:hover {
                    color: $grey;
                }
                h5 {
                    width: 100%;
                }
            }
            img {
                max-width: 150px;
                border-radius: 0px;
                @media(max-width: 767px) {
                    border: 0px;
                    max-width: 125px;
                }
            }
            .product-price {
                text-align: left;
                @media(min-width: 768px) {
                    text-align: center;
                }
            }
            .quantity-price {
                justify-content: space-between;
                align-items: center;
            }
        }
        .adjust-quantity {
            align-items: baseline;
            .adjust-container {
                border: 1px solid $lightgrey;
                align-items: center;
                p {
                    display: inline-block;
                    margin: 0;
                    width: 50px;
                }
                .btn {
                    border-color: $lightgrey;
                    background-color: $verylightgrey;
                    border-radius: 0px;
                    &:hover {
                        background-color: $lightgrey;
                    }
                    &.remove-item {
                        border-right: 2px solid $lightgrey;
                    }
                    &.add-item {
                        border-left: 2px solid $lightgrey;
                    }
                }
            }
        }
        .delete-product-cart {
            @media(min-width: 768px) {
                justify-content: flex-end;
            }
            &.mobile {
                position: absolute;
                top: 7px;
                right: 5px;
                flex: auto;
            }
        }
        .mobile {
            @media(min-width: 768px) {
                display: none !important;
            }
        }
        .desktop {
            @media(max-width: 767px) {
                display: none !important;
            }
        }
    }
    .cart-totals {
        padding-top: 20px;
        @media(min-width: 768px) {
            border-top: 2px solid $lightgrey;
        }
        p {
            &:first-child {
                display: inline-block;
            }
            &:last-child {
                font-style: italic;
            }
        }
        #sub-total {
            color: $brand-green;
            display: inline-block;
            float: right;
            @media(min-width: 768px) {
                float: none;
            }
        }
        .checkout {
            text-align: center;
            @media(min-width: 768px) {
                text-align: right;
            }
        }
        .btn {
            @extend %btn-format;
        }
    }
    .confirmation-container {
        #progressbar {
            display: none;
            li {
                &.active {
                    &:before {
                        content: none;
                    }
                    svg {
                        background-color: $white;
                        border-radius: 50%;
                        color: #39b54a;
                    }
                    span {
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
        h4 {
            border-bottom: 2px solid #acacac;
            line-height: 2;
        }
        .message {
            align-items: center;
            @media(max-width: 767px) {
                flex-direction: column;
                text-align: center;

            }
            @media(min-width: 768px) {
                border: 2px solid #39b54a;
            }
            .icon-container {
                position: relative;
                margin-bottom: 1rem;
                @media(min-width: 768px) {
                    margin-bottom: 0;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: -30px;
                        width: 1px;
                        height: 100%;
                        background-color: #ccc;
                    }
                }
                svg {
                    border-radius: 50%;
                    background-color: $white;
                    color: #39b54a;
                }
            }
            .inner-message {
                .text-success {
                    @media(max-width: 767px) {
                        font-weight: 700;
                        display: inline-block;
                        margin-bottom: 0.5rem;
                    }
                }
                @media(min-width: 768px) {
                    margin-left: 3rem;
                }
            }
        }
        .time {
            font-weight: 500;
            letter-spacing: 0px;
            @media(max-width: 767px) {
                font-size: 0.9rem;
            }
        }
        .order-summary {
            overflow: hidden;
            @media(max-width: 767px) {
                border-radius: 4px;
                padding: 1rem 2rem;
                margin-bottom: 2rem;
                -webkit-box-shadow: 0px 0px 13px 2px $lightgrey; 
                box-shadow: 0px 0px 13px 2px $lightgrey;
            }
            @media(min-width: 768px) {
                border-bottom: 2px solid #acacac;
            }
            .titles {
                border-bottom: 2px solid #acacac;
                @media(max-width: 767px) {
                    display: none;
                }
                > div {
                    font-weight: 700;
                    line-height: 2.5;
                }
            }

            .product-info {
                h5 {
                    font-weight: 700;
                    margin-bottom: 0px;
                }
                @media(max-width: 767px) {
                    flex-direction: column;
                    text-align: left;
                }
                @media(min-width: 768px) {
                    .quantity-mobile, .ind-price-mobile, .price-mobile {
                        display: none !important;
                    }
                }
                .quantity-mobile {
                    color: $white;
                    background-color: $brand-green;
                    padding: 5px;
                    display: flex;
                    align-items: center;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    border-radius: 50%;
                    position: absolute;
                    left: 115px;
                    top: 10px;
                }
                .price-mobile {
                    color: $brand-green;
                    font-weight: 700;
                }
                .ind-price-mobile {
                    color: $grey;
                    margin: 0.25rem 0;
                }
            }
        }
        .tax-subtotal {
            border-bottom: 2px solid #acacac;
            h6 {
                font-weight: 700;
            }
            .subtotal-sub {
                .value {
                    text-align: right;
                    font-weight: 500;
                    letter-spacing: 0px;
                    @media(max-width: 767px) {
                        font-size: 0.9rem;
                    }
                }
            }
            .hst-sub {
                .value {
                    text-align: right;
                    font-weight: 500;
                    letter-spacing: 0px;
                    @media(max-width: 767px) {
                        font-size: 0.9rem;
                    }
                }
            }
            .shipping-sub {
                .value {
                    text-transform: uppercase;
                    text-align: right;
                    font-weight: 500;
                    letter-spacing: 0px;
                    @media(max-width: 767px) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .order-container {
            @media(max-width: 767px) {
                border-radius: 4px;
                padding: 1rem 2rem;
                margin-bottom: 2rem;
                -webkit-box-shadow: 0px 0px 13px 2px $lightgrey; 
                box-shadow: 0px 0px 13px 2px $lightgrey;
            }
            .order-inner-container {
                flex-direction: column;
                @media(min-width: 768px) {
                    flex-direction: row;
                }
                h6 {
                    font-weight: 700;
                    @media(max-width: 767px) {
                        font-size: 1.1rem;
                    }
                }
                .billing-details {
                    flex-grow: 2;
                    span {
                        font-weight: 500;
                        letter-spacing: 0px;
                        @media(max-width: 767px) {
                            font-size: 0.9rem;
                        }
                    }
                }
                .shipping-method {
                    flex-grow: 2;
                    font-weight: 500;
                    letter-spacing: 0px;
                    @media(max-width: 767px) {
                        font-size: 0.9rem;
                    }
                    @media(min-width: 768px) {
                        margin: 0 1rem;
                    }
                }
                .notes {
                    flex-grow: 2;
                    font-weight: 500;
                    letter-spacing: 0px;
                    @media(max-width: 767px) {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .totals {
            @media(max-width: 767px) {
                border-radius: 4px;
                padding: 1rem 2rem;
                margin-bottom: 2rem;
                -webkit-box-shadow: 0px 0px 13px 2px $lightgrey; 
                box-shadow: 0px 0px 13px 2px $lightgrey;
            }
            .order-amount {
                @media(min-width: 768px) {
                    justify-content: space-around !important;
                }
                > div {
                    font-weight: 700;
                }
                .value {
                    text-align: right;
                }
            }
            .payment-info {
                .card-info {
                    @media(max-width: 768px) {
                        order: 2;
                    }
                    > * {
                        color: $grey;
                        font-weight: 500;
                        letter-spacing: 0px;
                    }
                }
            }
        }
        .links {
            flex-direction: column;
            @media(min-width: 768px) {
                flex-direction: row;
            }
            a {
                border-radius: 0px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                &:nth-child(2) {
                    @media(min-width: 768px) {
                        margin: 0px 20px;
                    }
                }
            }
        }
    }
}