@import 'extends';
@import 'colors';
@import 'buttons';

#cart {
    .cart-header {
        background-color: $black;
        // border-top: 2px solid $lightgrey;
        padding: 50px 0px;
        > div {
            .link-container {
                flex-direction: column;
                @media(min-width: 768px) {
                    flex-direction: row;
                }
            }
        }
        h3 {
            text-transform: uppercase;
            color: $white;
            margin-bottom: 20px;
        }
        .btn {
            @extend %btn-format;
        }
    }
    .empty-cart-container {
        text-align: center;
        svg {
            width: 100px;
            height: 100px;
            color: $lightgrey;
            fill: $lightgrey;
        }
        h4 {
            text-transform: uppercase;
            margin: 15px 0px;
        }
        p {
            width: 50%;
            margin: 0 auto 20px;
        }
        .btn {
            @extend %btn-format;
        }
    }
    .subtotal-title {
        @media(max-width: 767px) {
            display: none;
        }
        border-bottom: 2px solid $lightgrey;
        padding-bottom: 20px;
        div {
            text-transform: uppercase;
            font-weight: 700;
            text-align: left;
            &:first-child {
                text-align: center;
            }
        }
    }
    .product {
        .row {
            > div {
                @media(max-width: 767px) {
                    text-align: center;
                    justify-content: space-evenly;
                    position: relative;
                    max-width: 90%;
                    margin: 0 auto;
                }
            }
        }
        .product-title {
            justify-content: space-between;
            @media(max-width: 767px) {
                border-radius: 5px;
                -webkit-box-shadow: 0px 0px 13px 2px $lightgrey; 
                box-shadow: 0px 0px 13px 2px $lightgrey;
            }
            .title-container {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 0 1 calc(50% - 10px);
            }
            a {
                text-decoration: none;
                color: $black;
                display: flex;
                text-align: left;
                @media(min-width: 768px) {
                    flex: 1;
                    text-align: center;
                }
                &:hover {
                    color: $grey;
                }
                h5 {
                    width: 100%;
                }
            }
            img {
                max-width: 150px;
                border-radius: 0px;
            }
            .product-price {
                text-align: left;
                @media(min-width: 768px) {
                    text-align: center;
                }
            }
            .quantity-price {
                justify-content: space-between;
                align-items: center;
            }
        }
        .adjust-quantity {
            align-items: baseline;
            .adjust-container {
                border: 1px solid $lightgrey;
                align-items: center;
                p {
                    display: inline-block;
                    margin: 0;
                    width: 50px;
                }
                .btn {
                    border-color: $lightgrey;
                    background-color: $verylightgrey;
                    border-radius: 0px;
                    &:hover {
                        background-color: $lightgrey;
                    }
                    &.remove-item {
                        border-right: 2px solid $lightgrey;
                    }
                    &.add-item {
                        border-left: 2px solid $lightgrey;
                    }
                }
            }
        }
        .delete-product-cart {
            @media(min-width: 768px) {
                justify-content: flex-end;
            }
            &.mobile {
                position: absolute;
                top: 7px;
                right: 5px;
                flex: auto;
            }
        }
        .mobile {
            @media(min-width: 768px) {
                display: none !important;
            }
        }
        .desktop {
            @media(max-width: 767px) {
                display: none !important;
            }
        }
    }
    .cart-totals {
        padding-top: 20px;
        @media(min-width: 768px) {
            border-top: 2px solid $lightgrey;
        }
        p {
            &:first-child {
                display: inline-block;
            }
            &:last-child {
                font-style: italic;
            }
        }
        #sub-total {
            color: $brand-green;
            display: inline-block;
            float: right;
            @media(min-width: 768px) {
                float: none;
            }
        }
        .checkout {
            text-align: center;
            @media(min-width: 768px) {
                text-align: right;
            }
        }
        .btn {
            @extend %btn-format;
        }
    }
    .confirmation-container {
        #progressbar {
            li {
                &.active {
                    &:before {
                        content: none;
                    }
                    svg {
                        background-color: $white;
                        border-radius: 50%;
                        color: #39b54a;
                    }
                    span {
                        position: relative;
                        top: 1px;
                    }
                }
            }
        }
        h4 {
            border-bottom: 2px solid #acacac;
            line-height: 2;
        }
        .message {
            border: 2px solid #39b54a;
            align-items: center;
            .icon-container {
                position: relative;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: -30px;
                    width: 1px;
                    height: 100%;
                    background-color: #ccc;
                }
                svg {
                    border-radius: 50%;
                    background-color: $white;
                    color: #39b54a;
                }
            }
            .inner-message {
                margin-left: 3rem;
            }
        }
        .order-summary {
            overflow: hidden;
            border-bottom: 2px solid #acacac;
            .titles {
                border-bottom: 2px solid #acacac;
                > div {
                    font-weight: 700;
                    line-height: 2.5;
                }
            }
        }
        .tax-subtotal {
            border-bottom: 2px solid #acacac;
            h6 {
                font-weight: 700;
            }
            .shipping-sub {
                .value {
                    text-transform: uppercase;
                }
            }
        }
        .order-inner-container {
            flex-direction: column;
            @media(min-width: 768px) {
                flex-direction: row;
            }
            h6 {
                font-weight: 700;
            }
            .billing-details {
                flex-grow: 2;
            }
            .shipping-method {
                flex-grow: 2;
                @media(min-width: 768px) {
                    margin: 0 1rem;
                }
            }
            .notes {
                flex-grow: 2;
            }
        }
        .order-amount {
            > div {
                font-weight: 700;
            }
        }
        .links {
            flex-direction: column;
            @media(min-width: 768px) {
                flex-direction: row;
            }
            a {
                border-radius: 0px;
                text-transform: uppercase;
                &:nth-child(2) {
                    @media(min-width: 768px) {
                        margin: 0px 20px;
                    }
                }
            }
        }
    }
}