@import 'colors';

#order {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
    max-width: none;
	.ast {
		color: $red;
	}
	label {
		display: block;
	}
	.fs-title {
		font-size: 1.5rem;
		color: $darkgrey;
		margin-bottom: 10px;
		.inner-title {
			text-transform: uppercase;
			color: $black;
			font-size: 1rem;
			margin-left: 15px;
			svg {
				position: relative;
				bottom: 2px;
			}
		}
	}
	.fs-subtitle {
		font-weight: normal;
		font-size: 1rem;
		color: $grey;
		margin-bottom: 20px;
	}
	fieldset {
		background: white;
		border: 0 none;
		border-radius: 3px;
		padding: 20px 30px;
		box-sizing: border-box;
		position: relative;
		text-align: left;
		white-space: nowrap;

		@media(min-width: 1030px) {
			width: 80%;
			margin: 0 10%;
		}

		input, textarea, select {
			padding: 15px;
			border: 1px solid $grey;
			border-radius: 0px;
			margin-bottom: 10px;
			width: 100%;
			box-sizing: border-box;
			font-family: montserrat;
			color: #2C3E50;
			font-size: 13px;
			&::placeholder {
				font-style: italic;
				color: $grey-A0;
			}
		&[type="checkbox"] {
			width: auto;	
		}
		}
		.form-inner-container {
			&.form-address-other, &.form-billing-address.part-2 {
				@media(min-width: 1030px) {
					flex-direction: row !important;
					.form-field {
						flex-grow: 1;
						flex-shrink: 1;
						flex-basis: 200px;
						&:first-child {
							padding-right: 0px;
						}
						&:nth-child(2) {
							padding: 0px 20px;
							flex-shrink: 2;
							select {
								// max-width: 200px
							}
						}	
					}
				}
				.form-field {
					&:nth-child(2) {
						select {
							height: 50px;
							border-radius: 0px;
							-webkit-appearance: none;
							-moz-appearance: none;
							background: transparent;
							background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
						  </svg>');
							background-repeat: no-repeat;
							background-position-x: 95%;
							background-position-y: 12px;
							padding: 0px 10px;
						}
					}
				}
			}
			&.form-shipping-information {
				.form-field {
					&.first {
						label {
							display: inline-block;
						}
					}
				}
				.shipping-option {
					flex-direction: column;
					@media(min-width: 1030px) {
						flex-direction: row;
					}
					> .form-field {
						outline: 1px solid $grey;
						position: relative;
						cursor: pointer;
						margin: 10px 0px;
						@media(min-width: 1030px) {
							margin: 0px;
							padding: 1rem 2rem !important;
						}
						&:first-child {
							@media(min-width: 1030px) {
								margin-right: 20px;
							}
						}
						&.active {
							outline: 2px solid $bright-blue;
						}
						label {
							font-weight: 600;
							font-size: 1.2rem;
							justify-content: space-between;
						}
						input[type="radio"] {
							position: absolute;
							width: 100%;
							height: 100%;
							right: 0;
							margin-bottom: 0;
							bottom: 0;
							visibility: hidden;
						}
						span {
							color: $grey-A0;
						}
						.shipping-price {
							text-transform: uppercase;
						}
					}
				}
			}
			&.half {
				flex-direction: column;
				@media(min-width: 1030px) {
					flex-direction: row;
					.form-field {
						&:first-child {
							padding-right: 20px;
						}
					}
				}
			}
			&.form-card {
				flex-wrap: wrap;
				> div {
					@media(min-width: 1030px) and (max-width: 1399px) {
						&.card-container {
							flex: 0 0 75%;
						}
						&.card-type {
							flex: 0 0 25%;
						}
						&.month-year {
							flex: 0 0 50%;
							padding-right: 20px;
						}
						&.cvc {
							flex: 0 0 50%;
						}
					}
					@media(min-width: 1400px) {
						&.card-container {
							flex: 0 0 50%;
						}
						&.card-type {
							flex: 0 0 20%;
							padding-right: 20px;
						}
						&.month-year {
							flex: 0 0 15%;
							padding-right: 20px;
						}
						&.cvc {
							flex: 0 0 15%;
						}
					}
				}
			}
		}

		.form-field {
			white-space: normal;
    		vertical-align: top;
			flex: 1;
			// &.half {
			// 	@media(min-width: 1030px) {
			// 		width: 50%;
    		// 		display: inline-block;
			// 	}
			// }
		}
	
		.info { 
			text-align: left;
			font-weight: 700;
			padding-left: 0px;
			span {
				font-weight: 400;
			}
		}
		.steps-container-2 {

		}
	}
	.step-3 {
		svg {
			position: relative;
			top: 11px;
		}
		input[type="button"] {
			&.previous {
				text-align: left;
				background-color: transparent;
				color: #000;
				text-transform: inherit;
				margin: 0;
				width: auto;
			}
		}
		input[type="submit"] {
			text-transform: uppercase;
		}
	}
}
/*Hide all except first fieldset*/
#order fieldset:not(:first-of-type) {
	display: none;
}

/*buttons*/
#order .action-button {
	width: 100%;
	background: $black;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	text-transform: uppercase;
}
#order .action-button:hover, #order .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar {
	margin: 40px 10%;
	padding-left: 0px;
	display: flex;
	flex-direction: column;
	@media(min-width: 1030px) {
		flex-direction: row;
	}
	li {
		list-style-type: none;
		color: black;
		text-transform: uppercase;
		font-size: 0.8rem;
		float: left;
		position: relative;
		line-height: 3;
		border-bottom: 2px solid $grey-A0;
		flex: 1;
		&.active {
			border-bottom: 2px solid $black;
		}
		&:before {
			content: counter(step);
			counter-increment: step;
			width: 30px;
			height: 30px;
			line-height: 20px;
			display: block;
			font-size: 1rem;
			color: #333;
			background: white;
			border-radius: 25px;
			margin: 0 auto 5px auto;
			position: absolute;
			left: 20px;
			padding-top: 4px;
			top: 3px;
		}
	}
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}



