// @import "node_modules/bootstrap/scss/bootstrap.scss";
// @import "node_modules/bootstrap-icons/font/bootstrap-icons.css";

$primary: #fff;
$light: #e9ecef;
$black: #000;
$white: #fff;
$black-overlay: rgba(0,0,0,0.5);
$lightgray: #d3d3d3;