@import "colors";

body {
    header {
        background-color: $black;
        a {
            color: $white;
        }
    }
    #customer-header {
        background-color: #343a40;
    }
    .customer-container {
        img {
            max-width: 300px;
            border-radius: 50% !important;
        }
    }
}