@import "colors";
@import 'extends';

body {
    header {
        background-color: $black;
        a {
            color: $lightgrey;
        }
    }
    #customer-header {
        background-color: $black;
        .row-first {
            > .container {
                > .row {
                    align-items: center;
                }
            }
        }
        .logout {
            svg {
                color: $white;
            }
            a {
                text-decoration: none;
            }
        }
    }
    .customer-container {
        img {
            max-width: 300px;
            border-radius: 50% !important;
        }
    }
    .customer-main {
        min-height: calc(100vh - 163px);
        background-color: $brand-peach;
        .customer-header {
            background-color: #343a40;
            color: $white;
            a {
                @extend %btn-format;
            }
        }
        table {
            tr {
                th {
                    text-transform: uppercase;
                }
            }
        }
        .back-to-top {
            text-transform: uppercase;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}