@import "colors";
@import 'extends';

body {
    header {
        background-color: $black;
        a {
            color: $lightgrey;
        }
    }
    #customer-header {
        background-color: #343a40;
    }
    .customer-container {
        img {
            max-width: 300px;
            border-radius: 50% !important;
        }
    }
    .customer-main {
        min-height: calc(100vh - 163px);
        .customer-header {
            background-color: $black;
            color: $white;
            a {
                @extend %btn-format;
            }
        }
    }
}