footer {
    background-color: $black;
    color: $white;
    .column {
        h4 {
            position: relative;
            margin-bottom: 13px;
            line-height: 2;
            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                background-color: $white;
                width: 40%;
                height: 2px;
            }
        }
        ul {
            padding-left: 0;
            li {
                list-style-type: none;
                line-height: 2;
            }
        }
        a {
            text-decoration: none;
            color: $white;
            &:hover {
                color: lighten($brand-green, 10%)
            }
        }
        &:last-child {
            h4 {
                &:after {
                    width: 20%;
                }
            }
        }
        &.logo {
            text-align: center;
            @media(min-width: 991px) {
                text-align: left;
            }
            img {
                max-width: 150px;
                @media(min-width: 991px) {
                    max-width: 200px;
                }
            }
        }
    }
}