@import "colors";

header {
    .admin-bar {
        background-color: #6f42c1;
        color: #fff;
        font-weight: 700;
        top: 0;
        z-index: 10;
        width: 100%;
        a {
            color: #fff;
            font-weight: 500;
        }
    }
    .cart {

    } 
    .logout {
        line-height: 2;
        text-align: right;
    }
    .account-name {
        img {
            width: 40px;
        }
    }
    .customer {
        &.logged-in-customer {
            @media(max-width: 767px) {
                position: fixed;
                width: 50%;
                background-color: #000;
                right: 0;
                min-width: 260px;
                top: 75px;
                z-index: 100;
            }
        }
        a {
            text-decoration: none;
        }
    }
    .row-first {
        a {
            &.shop-faq {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        .sign-in {
            text-align: right;
        }
        .item-removal-container {
            display: none;
            background-color: $white;
            position: fixed;
            z-index: 125;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transform: translate(-50%, -50%);
            -webkit-box-shadow: 0px 0px 14px 1px $grey;
            box-shadow: 0px 0px 14px 1px $grey;
            top: 50%;
            left: 50%;
            width: 90%;
            @media(min-width: 1030px) {
                width: 60%;
            }
            @media(min-width: 1400px) {
                width: 40%;
            }
            .confirm {
                text-align: center;
                @media(min-width: 1030px) {
                    text-align: left;
                }
            }
            .actions {
                justify-content: flex-end;
                max-width: none;
                 > div {
                    justify-content: space-evenly;
                    .row {
                        @media(min-width: 992px) {
                            justify-content: flex-end;
                        }
                    }
                    .btn {
                        text-transform: uppercase;
                        border-radius: 0px;
                        flex: 1;
                        width: 100%;
                        text-align: center;
                        &:first-child {
                            margin-right: calc(var(--bs-gutter-x) * .5);
                        }
                        &:last-child {
                            margin-left: calc(var(--bs-gutter-x) * .5);
                        }
                    }
                 }
            }
        }
    }
    .row-second {
        box-shadow: 0px 0px 15px 0px $black;
        -webkit-box-shadow: 0px 0px 15px 0px $black;
        > .container {
            > div {
                flex-basis: 33%;
                &:last-child {
                    flex-basis: auto;
                }
                img {
                    max-width: 100px;
                    @media(min-width: 450px) {
                        max-width: 150px;
                    }
                }
                .navbar-toggler {
                    border: none;
                    color: transparent;
                    > div {
                        width: 45px;
                        height: 40px;
                        position: relative;
                        margin: 50px auto;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        transform: rotate(0deg);
                        -webkit-transition: .5s ease-in-out;
                        -moz-transition: .5s ease-in-out;
                        -o-transition: .5s ease-in-out;
                        transition: .5s ease-in-out;
                        cursor: pointer;
                        span {
                            display: block;
                            position: absolute;
                            height: 5px;
                            width: 50%;
                            background: $black;
                            opacity: 1;
                            -webkit-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                            -webkit-transition: .25s ease-in-out;
                            -moz-transition: .25s ease-in-out;
                            -o-transition: .25s ease-in-out;
                            transition: .25s ease-in-out;
                            &:nth-child(even) {
                                left: 50%;
                                border-radius: 0 9px 9px 0;
                            }
                            &:nth-child(odd) {
                                left:0px;
                                border-radius: 9px 0 0 9px;
                            }
                            &:nth-child(3), &:nth-child(4) {
                                top: 14px;
                            }
                            &:nth-child(5), &:nth-child(6) {
                                top: 28px;
                            }
                        }
                        &.open {
                            span {
                                &:nth-child(1), &:nth-child(6) {
                                    -webkit-transform: rotate(45deg);
                                    -moz-transform: rotate(45deg);
                                    -o-transform: rotate(45deg);
                                    transform: rotate(45deg);
                                }
                                &:nth-child(2), &:nth-child(5) {
                                    -webkit-transform: rotate(-45deg);
                                    -moz-transform: rotate(-45deg);
                                    -o-transform: rotate(-45deg);
                                    transform: rotate(-45deg);
                                }
                                &:nth-child(1) {
                                    left: 6px;
                                    top: 16px;
                                  }
                                &:nth-child(2) {
                                    left: calc(50% - 4px);
                                    top: 16px;
                                }
                                &:nth-child(3) {
                                    left: -50%;
                                    opacity: 0;
                                }
                                &:nth-child(4) {
                                    left: 100%;
                                    opacity: 0;
                                }
                                &:nth-child(5) {
                                    left: 5px;
                                    top: 29px;
                                }
                                &:nth-child(6) {
                                    left: calc(50% - 5px);
                                    top: 29px;
                                }
                            }
                        }
                    }
                }
                .navbar-collapse {
                    @media(max-width: 991px) {
                        background: $black;
                        border: 0;
                        display: block !important;
                        overflow-y: auto;
                        position: fixed;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        transform: translateX(-100%);
                        z-index: 110;
                        width: calc(100% - 38px);
                        max-width: 220px;
                        padding: 20px;
                    }
                    &.show {
                        transform: translateX(0%);
                        transition: all .25s ease;
                    }
                }
            }
        }
        .cart {
            a {
                &.cart-toggle {
                    color: $black;
                    text-decoration: none;
                    cursor: pointer;
                    position: relative;
                    span {
                        &.cart-count {
                            @media(max-width: 991px) {
                                color: $white;
                                background-color: $brand-green;
                                padding: 5px;
                                display: flex;
                                align-items: center;
                                width: 20px;
                                height: 20px;
                                text-align: center;
                                border-radius: 50%;
                                position: absolute;
                                right: -10px;
                                top: -5px;
                            }
                        }
                        &.text, &.cart-total {
                            display: none;
                            @media(min-width: 992px) {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        .cart-menu {
            background: $white;
            border: 0;
            display: block!important;
            overflow-y: auto;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            transform: translateX(100%);
            z-index: 110;
            width: calc(100% - 38px);
            max-width: 420px;
            &.active {
                transform: translateX(0);
                transition: all .25s ease;
            }
            &.inactive {
                transform: translateX(100%);
                transition: all .25s ease;
            }
            .header {
                background-color: $grey;
                color: $white;
                justify-content: space-between;
                text-transform: uppercase;
                .close-button {
                    align-items: center;
                    .close {
                        color: $white;
                        opacity: 1;
                        font-weight: 300;
                        position: relative;
                        bottom: 2px;
                    }
                }
            }
            .cart-summary-slider {
                .img-container {
                    max-width: 150px;
                }
                .price {
                    color: $brand-green;
                    font-weight: 700;
                }
                .product-order-info {
                    .remove-item-full-cart {
                        padding: 0px;
                        text-decoration: underline;
                    }
                }
            }
            .order-total {
                justify-content: space-between;
                border-top: 1px solid $lightgrey;
                border-bottom: 1px solid $lightgrey;
                .subtotal-title {
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: left;
                }
                #cart-sub-total {
                    color: $brand-green;
                    font-weight: 700;
                }
            }
            .link-container {
                a {
                    border-radius: 0px;
                    width: 50%;
                    text-transform: uppercase;
                    &:first-child {
                        margin-right: calc(var(--bs-gutter-x) * .5);
                    }
                    &:last-child {
                        margin-left: calc(var(--bs-gutter-x) * .5);
                    }
                }
            }
        }
    }
    nav {
        .close-button {
            display: flex;
            @media(min-width: 991px) {
                display: none;
            }
            button {
                color: $white;
                opacity: 1;
            }
        }
        #main-navigation {
            > li {
                border-bottom: 1px solid $white;
                line-height: 2;
                    a {
                    display: inline-block;
                    text-transform: uppercase;
                    color: $white;
                    position: relative;
                    padding: 5px 20px;
                    @media(min-width: 992px) {
                        color: $black;
                    }
                    &.dd-handle {
                        &:after {
                            content: "";
                            position: absolute;
                            background-color: $black;
                            width: 1px;
                            height: 20px;
                            right: 0;
                            top: 10px;
                        }
                    }
                }
                &:first-child {
                    a {
                        @media(min-width: 992px) {
                            padding-left: 0px;
                        }
                    }
                }
                &:last-child {
                    a {
                        &.dd-handle {
                            &:after {
                                width: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}