header {
    .cart, .logout {
        line-height: 2;
    }
    .account-name {
        img {
            width: 40px;
        }
    }
    nav {
        #main-navigation {
            li a {
                display: inline-block;
                text-transform: capitalize;
            }
        }
    }
}