@import "colors";

header {
    .admin-bar {
        background-color: #6f42c1;
        color: #fff;
        font-weight: 700;
        top: 0;
        z-index: 10;
        width: 100%;
        a {
            color: #fff;
            font-weight: 500;
        }
    }
    .cart, .logout {
        line-height: 2;
    }
    .account-name {
        img {
            width: 40px;
        }
    }
    .customer {
        a {
            text-decoration: none;
        }
    }
    .row-first {
        a {
            &.shop-faq {
                text-decoration: none;
                text-transform: uppercase;
            }
        }
        .sign-in {
            text-align: right;
        }
        .item-removal-container {
            display: none;
            background-color: $white;
            position: absolute;
            z-index: 105;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 100%;
            @media(min-width: 1030px) {
                width: 60%;
            }
            @media(min-width: 1400px) {
                width: 40%;
            }
            .actions {
                justify-content: flex-end;
                max-width: none;
                 > div {
                    justify-content: space-evenly;
                    .btn {
                        text-transform: uppercase;
                        border-radius: 0px;
                        flex: 1;
                        &:first-child {
                            margin-right: calc(var(--bs-gutter-x) * .5);
                        }
                        &:last-child {
                            margin-left: calc(var(--bs-gutter-x) * .5);
                        }
                    }
                 }
            }
        }
    }
    .row-second {
        box-shadow: 0px 0px 15px 0px #000000;
        -webkit-box-shadow: 0px 0px 15px 0px #000000;
        .cart {
            a {
                &.cart-toggle {
                    color: $black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
        .cart-menu {
            background: $white;
            border: 0;
            display: block!important;
            overflow-y: auto;
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            transform: translateX(100%);
            z-index: 110;
            width: calc(100% - 38px);
            max-width: 420px;
            &.active {
                transform: translateX(0);
                transition: all .25s ease;
            }
            .header {
                background-color: $grey;
                color: $white;
                justify-content: space-between;
                text-transform: uppercase;
                .close-button {
                    align-items: center;
                    .close {
                        color: $white;
                        opacity: 1;
                        font-weight: 300;
                        position: relative;
                        bottom: 2px;
                    }
                }
            }
            .cart-summary-slider {
                .img-container {
                    max-width: 150px;
                }
                .price {
                    color: $brand-green;
                    font-weight: 700;
                }
                .product-order-info {
                    .remove-item-full-cart {
                        padding: 0px;
                        text-decoration: underline;
                    }
                }
            }
            .order-total {
                justify-content: space-between;
                border-top: 1px solid $lightgrey;
                border-bottom: 1px solid $lightgrey;
                .subtotal-title {
                    text-transform: uppercase;
                    font-weight: 700;
                    text-align: left;
                }
                #cart-sub-total {
                    color: $brand-green;
                    font-weight: 700;
                }
            }
            .link-container {
                a {
                    border-radius: 0px;
                    width: 50%;
                    text-transform: uppercase;
                    &:first-child {
                        margin-right: calc(var(--bs-gutter-x) * .5);
                    }
                    &:last-child {
                        margin-left: calc(var(--bs-gutter-x) * .5);
                    }
                }
            }
        }
    }
    nav {
        #main-navigation {
            > li {
                    a {
                    display: inline-block;
                    text-transform: uppercase;
                    color: $black;
                    position: relative;
                    padding: 5px 20px;
                    &.dd-handle {
                        &:after {
                            content: "";
                            position: absolute;
                            background-color: $black;
                            width: 1px;
                            height: 20px;
                            right: 0;
                            top: 10px;
                        }
                    }
                }
                &:first-child {
                    a {
                        padding-left: 0px;
                    }
                }
                &:last-child {
                    a {
                        &.dd-handle {
                            &:after {
                                width: 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}