@import "colors";
@import "fonts";

body {
    height: auto;
    font-family: $roboto;
    &.no-scroll {
        overflow: hidden;
        position: relative;
        &:before {
            content: "";
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.7);
            position: absolute;
            z-index: 105;
            transition: all 1s ease;
        }
    }
    main {
        background: #ff0;
        min-height: calc(100vh - 430px);
        .page-content {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .shop-by {
            h3 {
                text-transform: uppercase;
                padding: 12px 0px;
                letter-spacing: 1.5px;
            }
            .set {
                position: relative;
                @media(max-width: 1199px) {
                    margin-bottom: 1rem;
                }
                &:nth-child(4), &:last-child {
                    @media(min-width: 767px) {
                        margin-bottom: 0;
                    }
                }
                .img-container {
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    min-height: 250px;
                    position: relative;
                    &:before {
                        content: "";
                        width: 100%;
                        height: 100%;
                        top: 0;
                        right: 0;
                        position: absolute;
                        background: rgba(150,150,150,0.5);
                    }
                }
                strong {
                    color: $white;
                    background-color: $black;
                    padding: 20px 40px;
                    text-transform: uppercase;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    position: absolute;
                    transform: translateY(-50%);
                    top: 50%;
                    width: 200px;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
        .container-fluid {
            .browse-categories {
                @media(max-width: 1029px) {
                    display: none;
                }
                #root {
                    position: relative;
                    z-index: 100;
                    .App {
                        margin: 0px;
                        max-width: none;
                        width: 100%;
                        form {
                            max-width: none;
                            input[type="text"] {
                                border-radius: 0px;
                                padding: 10px;
                                border: 1px solid $grey-999;
                            }
                            #container {
                                .show {
                                    position: absolute;
                                    background-color: $white;
                                    width: 100%;
                                    padding: 20px;
                                }
                                ul {
                                    left: auto;
                                    max-width: none;
                                    width: 100%;
                                    li {
                                        img {
                                            max-width: 250px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .nav {
                    justify-content: space-between;
                    height: 100%;
                    position: relative;
                    div {
                        &.pill-link {
                        text-transform: uppercase;
                        background-color: $grey-A0;
                        padding: 0.5rem 1rem;
                        color: $black;
                        cursor: pointer;
                        border-radius: 0px;
                        flex: 1;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 0.85rem;
                        @media(min-width: 1240px) {
                            font-size: 16px;
                        }
                        &.nav-link-header {
                            background-color: $black;
                            line-height: 2.75;
                            &:hover {
                                background-color: $black;
                            }
                        }
                        &:hover, &.active {
                            background-color: $brand-green;
                            color: $white;
                            .tab-pane { 
                                display: block;
                            }
                        }
                        svg {
                            color: $white;
                            fill: $white;
                        }
                        .tab-pane {
                            position: absolute;
                            left: 100%;
                            z-index: 100;
                            height: 100%;
                            background-color: rgba(25, 123, 48, 0.75);
                            width: 125%;
                            top: 0;
                            display: none;
                            color: $white;
                            .category.menu {
                                padding-left: 0px;
                                li {
                                    list-style: none;
                                    a {
                                        color: $white;
                                        text-decoration: none;
                                        text-transform: initial;
                                        line-height: 2;
                                        &.category-header {
                                            text-decoration: underline;
                                            font-size: 1.2rem;
                                        }
                                    }
                                }
                                ul {
                                    padding-left: 0px;
                                    li {
                                        list-style: none;
                                        a {
                                            color: $white;
                                            text-decoration: none;
                                            text-transform: initial;
                                        }
                                    }
                                }
                            }
                        }
                        }
                    }
                }
                .tab-content {
                    z-index: 75;
                    height: 100%;
                    @media(min-width: 768px) {
                        position: absolute;
                        width: 50%;
                    }
                    @media(min-width: 1200px) {
                        width: 40%;
                    }
                    .tab-pane {
                        background-color: rgba(25, 123, 48, 0.85);
                        position: relative;
                        right: 12px;
                        height: 100%;
                    }
                    p {
                        color: $white;
                    }
                }
                .bg {
                    &:after {
                        background-color: $lightgrey;
                        transform: scaleX(1.5);
                        width: 100%;
                        height: 100%;
                        right: 0;
                        top: 0;
                        position: absolute;
                        content: "";
                    }
                }
            }
        }
        .featured-products {
            position: relative;
            margin-bottom: 3rem;
            h3 {
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            .tns-item {
                position: relative;
                h4 {
                    @media (min-width: 1200px) {
                        font-size: 1.25rem;
                    }
                }
                img {
                    max-height: 265px;
                }
                .price {
                    color: $grey-A0;
                    font-weight: 700;
                    text-align: left;
                }
                .add-cart-products {
                    position: absolute;
                    top: 0;
                    right: calc(var(--bs-gutter-x) * .5);
                    &:hover {
                        .cart-icon, .arrow-right {
                            opacity: 1;
                            display: flex !important;
                        }
                    }
                    .cart-icon {
                        transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        opacity: 0;
                        font-size: 0.8rem;
                        align-items: center;
                    }
                    .arrow-right {
                        transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        opacity: 0;
                        height: 0px;
                        width: 0px;
                        right: 32px;
                        top: 10px;
                        position: absolute;
                        border-top: solid 8px transparent;
                        border-left: solid 8px black;
                        border-bottom: solid 8px transparent;
                    }
                    svg {
                        cursor: pointer;
                        transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        &.bi-cart-plus {
                            &:hover {
                                background-color: $brand-green;
                                color: $white;
                            }
                        }
                    }
                }
                a {
                    text-decoration: none;
                    color: $black;
                    svg {
                        position: absolute;
                        right: calc(var(--bs-gutter-x) * .5);
                        top: 32px;
                        fill: $black;
                        color: $black;
                        cursor: pointer;
                        transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                        &:hover {
                            background-color: $brand-green;
                            color: $white;
                            fill: $white;
                        }
                    }
                }
            }
            .controls {
                margin: 0;
                padding: 0;
                list-style: none;
                position: absolute;
                left: 0;
                width: 100%;    
                top: 50%;
                transform: translatey(-50%);
                display: flex;
                align-items: center;    
                justify-content: space-between;
                z-index: 50;
                &:focus {
                    outline: none;
                }
            
                li {
                    :hover {
                        cursor: pointer;        
                    }
                    &.prev {
                        position: relative;
                        left: 10px;
                        @media(min-width: 600px) {
                            left: -50px;
                        }
                    }
                    &.next {
                        position: relative;
                        right: 10px;
                        @media(min-width: 600px) {
                            right: -50px;
                        }
                    }
                }
                svg {
                    font-size: 3rem;
                    color: $lightgrey;
                }
            }
            .featured-info {
                text-align: center;
                @media(min-width: 600px) {
                    text-align: left;
                }
            }
        }
        .latest-releases {
            h3 {
                text-transform: uppercase;
                letter-spacing: 1.5px;
            }
            .set {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .img-container {
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 150px;
                }
                .btn {
                    border-radius: 0px;
                    
                }
            }
        }
        .single-banner {
            margin-bottom: 3rem;
            justify-content: center;
        }
        .promos, .pill-promos-container {
            position: relative;
            .controls {
                margin: 0;
                padding: 0;
                list-style: none;
                position: absolute;
                left: 0;
                width: 100%;    
                top: 50%;
                transform: translatey(-50%);
                display: flex;
                align-items: center;    
                justify-content: space-between;
                z-index: 50;
                &:focus {
                    outline: none;
                }
            
                li {
                    :hover {
                        cursor: pointer;        
                    }
                    &.prev {
                        position: relative;
                        left: 10px;
                    }
                    &.next {
                        position: relative;
                        right: 10px;
                    }
                }
                svg {
                    fill: $white;
                    color: $white;
                }
            }
            .tns-nav {
                position: absolute;
                bottom: 40px;
                z-index: 50;
                left: calc(50% - 40px);
                button {
                    width: 30px;
                    border: none;
                    padding: 2px;
                    margin: 0px 5px;
                    background-color: $lightgrey;
                    &.tns-nav-active {
                        background-color: $white;
                    }
                }
            }
            .promo {
                position: relative;
                .promo-info {
                    background-color: $black;
                    right: 40px;
                    bottom: 0;
                    color: $white;
                    text-align: center;
                    padding: 50px 20px 30px;
                    @media(min-width: 768px) {
                        background-color: $black-overlay;
                        position: absolute;
                        max-width: 400px;
                        text-align: right;
                    }
                }
            }
        }
        #products {
            h3 {
                margin-left: 1rem;
            }
            h5 {
                &.filter-title {
                    margin-left: 15px;
                }
            }
            ul {
                &.filters {
                    li {
                        list-style: none;
                    }
                }
            }
        }
        .product-id {
            display: none;
        }
        #product-info {
            .categories {
                > div {
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin: 10px 0px 0px 0px;
                }
            }
        }
        .category-search {
            background-color: $black;
            .inner {
                flex-direction: column;
                .App {
                    margin: 10px auto;
                    form {
                        max-width: none;
                        input[type="text"] {
                            background-color: $black;
                            color: $white;
                            border: 2px solid $white;
                            border-radius: 0px;
                            padding: 10px 20px;
                            width: 600px;
                            max-width: 100%;
                            &::placeholder {
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: $black;
    text-shadow: 0 1px 0 $white;
    opacity: .5;
    border: none;
    background: transparent;
}