@import "colors.scss";

body {
    background-color: #f00;
    height: auto;
    main {
        background: #ff0;
        min-height: calc(100vh - 90px);
        .shop-by {
            h3 {
                text-transform: uppercase;
                padding: 12px 0px;
            }
            .set {
                .img-container {
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    min-height: 250px;
                }
                strong {
                    color: $white;
                    background-color: $black;
                    padding: 20px 40px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
        #products {
            h3 {
                margin-left: 1rem;
            }
            h5 {
                &.filter-title {
                    margin-left: 15px;
                }
            }
            ul {
                &.filters {
                    li {
                        list-style: none;
                    }
                }
            }
        }
        .product-id {
            display: none;
        }
        #product-info {
            .categories {
                > div {
                    font-weight: bold;
                    font-size: 1.2rem;
                    margin: 10px 0px 0px 0px;
                }
            }
        }
        .cart-totals {
            .quantity-total {
                .cart-count-bottom {
                    display: block;
                }
            }
            .sub-total {
                #sub-total {
                    display: block;
                }
            }
        }
        .cart-container {
            position: sticky;
            top: 30%;
            table {
                &.cart-summary {
                    width: 100%;
                }
            }
        }
        .quantity-total {
            > div {
                margin: 5px 0px;
            }
            #sub-total, #hst-total, #total {
                float: right;
            }
        }
    }
}