@import "colors";


#products {
    .product-container {
        flex-direction: column;
        position: relative;
        .title {
            text-decoration: none;
            color: $black;
        }
        .add-cart-products {
            position: absolute;
            top: 0;
            right: calc(var(--bs-gutter-x) * .5);
            &:hover {
                .cart-icon, .arrow-right {
                    opacity: 1;
                    display: flex !important;
                }
            }
            .cart-icon {
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                opacity: 0;
                font-size: 0.8rem;
                align-items: center;
            }
            .arrow-right {
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                opacity: 0;
                height: 0px;
                width: 0px;
                right: 32px;
                top: 10px;
                position: absolute;
                border-top: solid 8px transparent;
                border-left: solid 8px black;
                border-bottom: solid 8px transparent;
            }
            svg {
                cursor: pointer;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                &.bi-cart-plus {
                    &:hover {
                        background-color: $brand-green;
                        color: $white;
                    }
                }
            }
        }
        svg {
            cursor: pointer;
            transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            &.bi-zoom-in {
                position: absolute;
                right: calc(var(--bs-gutter-x) * .5);
                top: 32px;
                fill: $black;
                color: $black;
                &:hover {
                    background-color: $brand-green;
                    color: $white;
                    fill: $white;
                }
            }
        }
    }
    .back-to-top {
        text-transform: uppercase;
        text-decoration: underline;
        cursor: pointer;
    }
}

#ind-product {
    .breadcrumbs {
        align-items: center;
        .breadcrumbs-container {
            font-size: 0.9rem;
            a {
                text-decoration: none;
                color: $black;
            }
        }
    }
    .image-main-container {
        flex-direction: column;
        @media(min-width: 768px) {
            flex-direction: row;
        }
        .image-gallery {
            flex-direction: row;
            order: 2;
            overflow: scroll;
            width: 100%;
            // display: none !important;
            &::-webkit-scrollbar {
                display: none;
            }
            @media(min-width: 768px) {
                flex-direction: column;
                overflow: initial;
                img {
                    margin: 0.5rem 0rem;
                    &:first-child {
                        margin-top: 0px;
                    }
                }
            }
            @media(min-width: 1030px) {
                order: 1;
                width: 50%;
                display: flex !important;
                padding-right: 2rem;
            }
            img {
                margin-right: 1rem;
                cursor: pointer;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                @media(max-width: 767px) {
                    width: 50%;
                }
                &:hover {
                    filter: brightness(90%);
                    -webkit-filter: brightness(90%);
                }
                &.active {
                    opacity: 0.8;
                }
            }
        }
        .image {
            order: 1;
            margin-bottom: 2rem;
            @media(min-width: 768px) {
                order: 2;
            }
            img {
                cursor: zoom-in;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                &:hover {
                    filter: brightness(90%);
                    -webkit-filter: brightness(90%);
                }
            }
        }
    }
    .info-container {
        margin: 20px 0px;
        @media(min-width: 768px) {
            margin: 0px;
        }
        #name {
            margin-bottom: 0px;
        }
        #price {
            color: $brand-green;
            font-weight: 700;
            font-size: 1.5rem;
        }
        .add-cart-container {
            align-items: center;
            select {
                border: solid 1px $lightgrey;
                border-radius: 2px;
                padding: 0.25em 1.5em 0.25em 0.5em;
                background-image: linear-gradient(
                45deg, transparent 50%, $grey-999 50%), linear-gradient(
                135deg, $grey-999 50%, transparent 50%);
                background-position: calc(100% - 10px) calc(50%), calc(100% - 5px) calc(50%);
                background-size: 6px 5px, 6px 5px;
                background-repeat: no-repeat;
                -moz-appearance: none;
                -webkit-appearance: none;
                &::-ms-expand {
                    display: none;
                }
            }
            .add-cart {
                border-radius: 0px;
                text-transform: uppercase;
            }
        }
        .categories {
            a {
                text-decoration: none;
                color: $black;
                font-weight: 400;
            }
        }
        .disclaimer {
            color: $brand-green;
            font-style: italic;
            span {
                text-transform: uppercase;
            }
        }
    }
    .delivery-returns {
        background-color: $verylightgrey;
        > .row {
            max-width: 1200px;
            margin: 0 auto;
            &.border-bottom-2px {
                border-bottom: 2px solid $lightgrey;
            }
            h5 {
                text-transform: uppercase;
                font-weight: 700;
            }
            p {
                &.returns-desc {
                    @media(max-width: 767px) {
                        padding-bottom: 20px;
                        border-bottom: 2px solid $lightgrey;
                    }
                }
                &.copyright-disclaimer-desc {
                    @media(min-width: 768px) {
                        padding-top: 20px;
                        border-top: 2px solid $lightgrey;
                    }
                }
            }
            .copyright-disclaimer {
                p {
                    font-size: 0.85rem;
                }
            }
        }
    }
}